.index-main-cover {
    background: #323232 url("../img/background2.jpg") no-repeat top right;
    background-size: 100%;
    height: 250px;
    width: 100%;
    min-height: 200px;
    font-size: 1.05rem;
}

.index-main-cover h1 {
    font-size: 2.65rem
}

.cover-background-fade {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 40%, rgba(0, 0, 0, 0.85) 85%)
}

.dataset-detail-icon {
    height: 15px;
    width: 15px;
    min-width: 20px;
    min-height: 20px;
}

.dropdown-scroll {
    /*height: auto;*/
    max-height: calc(100vh - 52ex);
    overflow-x: auto;
    overflow-y: visible;
}

.scrollable-table {
    overflow-x: visible;
    overflow-y: hidden;
}

a.uk-button-primary {
    color: #fff;
}

.tira-content label {
    display: inline;
}

.uk-checkbox, .uk-radio{
    width: 16px !important;
}

.uk-accordion table, .uk-card table {
    border-collapse: inherit;
}

.table-background-yellow {
    background-color: #fff6ed;
}

.table-background-yellow .uk-button {
    border-color: darkorange;
}

.table-background-red {
    background-color: #ffe3e3;
}

.table-background-red .uk-button{
    border-color: #a41515;
}

.table-background-green {
    background-color: #e5ffe3;
}

.table-background-green .uk-button{
    border-color: #006b1b;
}

.tira-button-selected, .tira-button-selected:hover {
    border-color: #006b1b;
    color: #006b1b;
}

@keyframes flash-green-keyframes {
  from {background-color: #006b1b;}
  to {background-color: white;}
}

@keyframes flash-red-keyframes {
  from {background-color: darkred;}
  to {background-color: white;}
}

.flash-red {
  animation-name: flash-red-keyframes;
  animation-duration: 3s;
}

.flash-green {
  animation-name: flash-green-keyframes;
  animation-duration: 3s;
}

@media (max-width: 800px) {
    .index-main-cover {
        height: 200px
    }
}

@media (max-width: 400px) {
    .index-main-cover {
        height: 175px
    }
}

@media (max-width: 300px) {
    .index-main-cover {
        height: 150px
    }
}

@media (min-width: 960px) {
    .index-main-cover {
        height: 300px;
        min-height: 200px;
    }
}
/* strange disraptor hover fixes?  */
.disraptor-content .sortable:hover {
    background-color: revert;
}
.disraptor-content .webis-data-table .sortable {
    cursor: revert;
}

.submit-button {
    width: 100%;
    border-radius: 5px;
    margin-top: 5px;
}
