src/db.sqlite3
src/tira_vm_states.sqlite3
src/venv
src/__init__.py
src/config
src/tira/migrations/*.py

src/tira/frontend/node_modules/
src/tira/static/tira/dist/*
package-lock.json
src/tira/frontend/webpack-stats.json
test/tira-root/
