src/db.sqlite3
src/tira_vm_states.sqlite3
src/venv
src/__init__.py
src/config
test/test-database
src/tira_app/migrations/__pycache__

src/tira_app/static/tira/dist/*
package-lock.json
test/tira-root/
**/*.received.txt

.data-dumps/
