src/db.sqlite3
src/tira_vm_states.sqlite3
src/venv
src/__init__.py
src/config
src/tira_app/migrations/*.py
test/test-database

src/tira_app/static/tira/dist/*
package-lock.json
test/tira-root/
**/*.received.txt

.data-dumps/
