grpcio==1.36.1
grpcio-tools==1.36.1
protobuf<4.0dev
pyuwsgi
Django
pyyaml
requests
randomname
tqdm
mysql
mysqlclient
django-webpack-loader==0.6.0
python-gitlab
GitPython
python-slugify
git+https://github.com/allenai/ir_datasets
pandas
markdown
PyGithub
ghapi
parameterized
mockito
approvaltests
django-extensions
