{% extends 'tira/base.html' %}
{% load static %}
{% block title %}TIRA Run Review{% endblock %}
{% block description %}TIRA Run Review{% endblock %}
{% block navbar %}{% include "tira/navbar.html" with nav_active='software' %}{% endblock %}

{% block content %}
<nav class="uk-container">
<ul class="uk-breadcrumb">
<li><a href="{% url 'tira:index' %}">Tira.io</a></li>
<li><a href="{% url 'tira:task-detail' task_id=task_id %}">{{ task_id }}</a></li>
<li><a href="{% url 'tira:dataset-detail' task_id=task_id dataset_id=dataset_id %}">{{ dataset_id }}</a></li>
<li><a href="{% url 'tira:software-detail' task_id=task_id vm_id=vm_id %}">{{ vm_id }}</a></li>
<li class="uk-disabled"><a href="#">{{ run_id }}</a></li>
</ul>
</nav>

<main class="uk-section uk-section-default">
    <div class="uk-container">
        <h1>Run &mdash; <span class="uk-text-muted">{{ run_id }}</span></h1>
    </div>

    <!-- Overview - always shown   -->
    <div class="uk-container uk-margin-medium">
        <div class="uk-child-width-1-3@m uk-grid-small uk-grid-match" uk-grid>
            <!-- Details -->
            <div class="uk-card uk-card-body uk-card-default">
                <div class="uk-height-medium"></div>
                <div class="uk-position-top uk-padding-small">
                <h2>Details</h2>
                <table>
                        <tr>
                            <td>Software:</td>
                            <td> {{ run.software }}</td>  <!-- TODO -->
                        </tr>
                        <tr>
                            <td>Run:</td>
                            <td>{{ run_id }}</td>
                        </tr>
                        <tr>
                            <td>Input Dataset:</td>
                            <td>{{ dataset_id }}</td>
                        </tr>
                        {% if run.input_run_id != 'none' %}
                        <tr>
                            <td>Input Run:</td>
                            <td>{{ run.input_run_id }}</td>
                        </tr>
                        {% endif %}
                        <tr>
                            <td>Time:</td>
                            <td>{{ runtime.time }}</td>
                        </tr>
                        <tr>
                            <td>CPU Load:</td>
                            <td>{{ runtime.cpu }}</td>
                        </tr>
                        <tr>
                            <td>Page Faults:</td>
                            <td>{{ runtime.pagefaults }}</td>
                        </tr>
                        <tr>
                            <td>Swaps:</td>
                            <td>{{ runtime.swaps }}</td>
                        </tr>
                    </table>

                </div>
                <div class="uk-position-bottom uk-padding-small">
                    <p>
                    <span id="publish-text" class="uk-text-warning">The results are <em>not</em> on the leaderboards.</span>
                    <span id="unpublish-text" class="uk-text-success">The results are on the leaderboards.</span>
                    </p>
                    {% if role == 'admin' %}
                        <button id="publish-button" class="uk-button uk-button-danger uk-width-1-1 uk-padding-remove-bottom">Publish run</button>
                        <button id="unpublish-button" class="uk-button uk-button-default uk-width-1-1 uk-padding-remove-bottom">unpublish run</button>
                    {% endif %}
                </div>
            </div>
<!--            TODO: action buttons, difference between participant and reviewer -->
            <!-- Output -->
            <div class="uk-card uk-card-body uk-card-default">
                <div class="uk-height-medium"></div>
                <div class="uk-position-top uk-padding-small">
                    <h2>Output</h2>
                    {% if review.blinded != false %}
                    <table>
                        <tr>
                            <td>Size:</td>
                            <td> {{ files.size }}</td>  <!-- TODO -->
                        </tr>
                        <tr>
                            <td>Lines:</td>
                            <td>{{ files.lines }}</td>
                        </tr>
                        <tr>
                            <td>Files:</td>
                            <td>{{ files.files }}</td>
                        </tr>
                    </table>
                    <br>
                    {% else %}
                    {% for line in files.file_list %}
                        {{ line }}
                        <br>
                    {% endfor %}
                    {% endif %}
                </div>
                <div  class="uk-position-bottom uk-padding-small">
                    <p>
                        <span id="blind-text" class="uk-text-success">The output is visible to the participant.</span>
                        <span id="unblind-text" class="uk-text-warning">The output is <em>not</em> visible to the participant.</span>
                    </p>
                    {% if role == 'admin' %}
                        <button id="blind-button" class="uk-button uk-button-default uk-width-1-1 uk-padding-remove-bottom">blind run</button>
                        <button id="unblind-button" class="uk-button uk-button-danger uk-width-1-1 uk-padding-remove-bottom">unblind run</button>
                    {% endif %}
                </div>
            </div>

            <!-- Run Review Display -->

            {% if role == 'admin' %}
            <div class="uk-card uk-card-body uk-card-default">
                <form id="review-form" action="{% url 'tira:review' task_id=task_id vm_id=vm_id dataset_id=dataset_id run_id=run_id %}" method="POST">
                    {% csrf_token %}
                    <div class="uk-height-medium"></div>
                    <div  class="uk-position-top uk-padding-small">
                        <h2 id="tira-run-review">Review</h2>
                        <div class="uk-grid-small uk-child-width-1-3@m" data-uk-grid>
                            <div>
                                <div>{{ review_form.no_errors }} {{ review_form.no_errors.label }}</div>
                            </div>
                            <div>
                                <div>{{ review_form.output_error }} {{ review_form.output_error.label }}</div>
                            </div>
                            <div>
                                <div>{{ review_form.software_error }} {{ review_form.software_error.label }}</div>
                            </div>
                        </div>
                        <div>
                            <div>{{ review_form.comment.label }}{{ review_form.comment }}</div>
                        </div>
                        <br>
                        <span id="review-form-error" style="color: red"></span>
                        <br>
                    </div>
                    <div class="uk-position-bottom uk-padding-small">
                        <p>
                            {% if review.reviewer %}
                            <span class="uk-text-success">Reviewed by <em>{{ review.reviewer }}</em>.</span>
                            {% else %}
                            <span class="uk-text-warning">This run was <em>not</em> reviewed yet.</span>
                            {% endif %}
                        </p>
                        <input type="submit" class="uk-button uk-button-primary uk-width-1-1" value="submit review"/><span id="review-form-icon"></span>
                    </div>
                </form>
            </div>
            {% else %}

            <div class="uk-card uk-card-body uk-card-default">
                <div class="uk-height-medium"></div>
                <div  class="uk-position-top uk-padding-small">
                    <h2 id="tira-run-review">Review</h2>
                    <p>
                        {% if review.noErrors %}
                        There are no errors. This run is valid.
                        {% else %}
                            {% if review.missingOutput %}
                            This run is missing output.
                            {% endif %}
                            {% if review.extraneousOutput %}
                            This run produced too much output.
                            {% endif %}
                            {% if review.invalidOutput %}
                            This run has invalid output.
                            {% endif %}
                            {% if review.otherErrors %}
                            This run has other errors.
                            {% endif %}
                        {% endif %}
                    </p>
                    <p>
                        Comment:
                        <br>
                        {% if review.comment %}
                        {{ review.comment }}
                        {% else %}
                        There are no additional comments.
                        {% endif %}
                    </p>
                </div>
                <div class="uk-position-bottom uk-padding-small">
                        <p>
                            {% if review.reviewer %}
                            <span class="uk-text-success">Reviewed by <em>{{ review.reviewer }}</em>.</span>
                            {% else %}
                            <span class="uk-text-warning">This run was not reviewed yet.</span>
                            {% endif %}
                        </p>
                    </div>
            </div>
            {% endif %}

        </div>
    </div>

    <!-- Show Stdout -->
    <div class="uk-container uk-margin-medium">
        <h2>Standard Output <span class="uk-text-muted uk-text-lead">[stdout]</span></h2>
        <textarea class="uk-textarea" rows="10" placeholder="No Stdout recorded." disabled>
        {% if review.blinded == False or role == 'admin' %}
        {{ stdout }}
        {% else %}
            The Software Log has not been revealed to participants yet. Contact your task's organizer for a review.
        {% endif %}
        </textarea>
    </div>


    <!-- Show Stderr -->
    <div class="uk-container uk-margin-medium">
        <h2>Standard Error <span class="uk-text-muted uk-text-lead">[stderr]</span></h2>
        <textarea class="uk-textarea" rows="10" placeholder="No Stdout recorded." disabled>
        {% if review.blinded == False or role == 'admin' %}
        {{ stderr }}
        {% else %}
            The Software Error Log has not been revealed to participants yet. Contact your task's organizer for a review.
        {% endif %}
        </textarea>
    </div>


</main>

{% if include_navigation %}
<script src="https://assets.webis.de/js/thirdparty/jquery/jquery.slim.min.js"></script>
<script src="https://assets.webis.de/js/thirdparty/fontawesome/fontawesome.min.js"></script>
<script src="https://assets.webis.de/js/thirdparty/fontawesome/solid.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
{% endif %}
<script src="https://assets.webis.de/js/filter.js"></script>
<script src="https://assets.webis.de/js/selection.js"></script>
<script src="https://assets.webis.de/js/tables.js"></script>
<script>initWebisTableFiltering();</script>
<script>initTableSorting();</script>
<script src="{% static 'tira/js/review.js' %}"></script>
<script>addReviewEvents("{{ review.published }}", "{{ review.blinded }}", "{{ vm_id }}",
    "{{ dataset_id }}", "{{ run_id }}");</script>

{% endblock %}