<li>
    <form id="{{ software.id }}-form" class="software_form">
        {% csrf_token %}
        <div class="uk-grid-medium uk-margin-small uk-child-width-1-2" uk-grid>
            <div>
                <label class="uk-form-label" for="{{ software.id }}-command-input">Command</label>
                <div class="uk-form-controls">
                    <input class="uk-input" id="{{ software.id }}-command-input" type="text"
                           value="{{ software.command }}" placeholder="Dummy Command">
                </div>
            </div>
            <div>
                <label class="uk-form-label" for="{{ software.id }}-working-dir">Working Directory</label>
                <div class="uk-form-controls">
                    <input class="uk-input" id="{{ software.id }}-working-dir" type="text"
                           value="{{ software.working_directory }}" placeholder="/home/{{ user_id }}/">
                </div>
            </div>
        </div>
        <div class="uk-grid-medium uk-margin-small uk-child-width-1-2" uk-grid>
            <div>
                <label class="uk-form-label" for="{{ software.id }}-input-dataset">Input Dataset</label>
                <div class="uk-form-controls">

                    <select class="uk-select" id="{{ software.id }}-input-dataset">
                        <option value="None">None</option>
                        <option value="{{ software.dataset }}" selected>{{ software.dataset }}</option>
                    </select>
                </div>
            </div>
            <div>
                <label class="uk-form-label" for="{{ software.id }}-input-run">Input Run</label>
                <div class="uk-form-controls">
                    <select class="uk-select" id="{{ software.id }}-input-run">
                        <option>None</option>
                    </select>
                </div>
            </div>
        </div>
    </form>
    <div id="{{ software.id }}_form_buttons" class="software_form_buttons">
        <a class="uk-button uk-button-small uk-button-primary uk-width-1-6">run</a>
        <a class="uk-button uk-button-small uk-button-default uk-width-1-6">save</a>
        <a class="uk-button uk-button-small uk-button-danger uk-width-1-6">delete</a>
        <div class="uk-align-right">
            <!--                        <div class="uk-text-small uk-text-lead">created: {{ software.creation_date }}</div>-->
            <div class="uk-text-small uk-text-lead" id="{{ software.id }}-last-edit">last edit: {{ software.last_edit }}
            </div>
        </div>
    </div>
    <table class="uk-margin-small uk-table uk-table-divider uk-table-small uk-table-responsive targetable uk-table-middle">
        <thead>
        <tr>
            <th></th>
            <th class="uk-table-shrink"></th>
            <th class="uk-table-shrink"></th>
            <th class="uk-table-shrink"></th>
            <th class="header uk-table-shrink uk-text-nowrap"><span>Run</span></th>
            <th class="header uk-table-shrink uk-text-nowrap"><span>Input Run</span></th>
            <th class="header uk-table-expand"><span>Dataset</span></th>
            <th class="header uk-text-center uk-width-1-4">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for run in runs %}
        <tr class="uk-padding-remove">
            <td id="{{ run.dataset }}_{{ vm_id }}_{{ run.run_id }}"></td>
            <td class="uk-table-shrink uk-padding-remove-vertical">
                {% if run.review.noErrors == True %}
                <div uk-tooltip="This run is OK">
                    <i class="fas fa-check dataset-detail-icon uk-text-success"></i>
                </div>
                {% elif run.review.hasErrors == True %}
                <div uk-tooltip="This run has errors">
                    <i class="fas fa-times dataset-detail-icon uk-text-danger"></i>
                </div>
                {% endif %}
            </td>
            <td class="uk-table-shrink uk-padding-remove-vertical">
                {% if run.review.blinded == True %}
                <div uk-tooltip="This run is blinded">
                    <i class="fas fa-user-slash dataset-detail-icon"></i>
                </div>
                {% else %}
                <div uk-tooltip="You can inspect the results of this run.">
                    <i class="fas fa-user dataset-detail-icon uk-text-success"></i>
                </div>
                {% endif %}
            </td>
            <td class="uk-table-shrink uk-padding-remove-vertical"> <!-- Icons -->
                {% if run.review.published == True %}
                <div uk-tooltip="This run is on the leaderboards">
                    <i class="fas fa-users dataset-detail-icon uk-text-success"></i>
                </div>
                {% else %}
                <div uk-tooltip="This run is not published">
                    <i class="fas fa-users-slash dataset-detail-icon"></i>
                </div>
                {% endif %}
            </td>
            <td class="uk-table-shrink uk-text-nowrap uk-padding-remove-vertical">
                {% if run.input_run_id != "none" %}<i class="fas fa-level-up-alt fa-flip-horizontal"></i>{% endif %}
                &nbsp;{{ run.run_id }}
            </td>
            <td class="uk-table-shrink uk-text-nowrap uk-padding-remove-vertical">
                {% if run.input_run_id != "none" %}{{ run.input_run_id }}{% endif %}
            </td>
            <td class="uk-padding-remove-vertical">{{ run.dataset }}</td>
            <td class="uk-align-right uk-table-expand uk-margin-remove uk-padding-remove-vertical uk-padding-remove-right">
                {% if run.input_run_id == "none" %}
                <a class="uk-button uk-button-small uk-button-default">evaluate</a>
                {% endif %}
                <a class="uk-button uk-button-small uk-button-default" href="{% url 'tira:review' task_id=task_id vm_id=vm_id dataset_id=software.dataset run_id=run.run_id %}">inspect</a>
                <a class="uk-button uk-button-small uk-button-danger tira-run-delete">delete</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</li>
