{% extends 'tira/base.html' %}
{% load static %}
{% block title %}TIRA Tasks{% endblock %}
{% block description %}TIRA tasks{% endblock %}
{% block navbar %}{% include "tira/navbar.html" with nav_active='task' %}{% endblock %}

{% block content %}
<main class="uk-section uk-section-default">
<!-- Title and anchor links -->
<div class="uk-container">
    <h1>Tasks at TIRA</h1>
</div>

<!-- search field -->
<div class="uk-container uk-margin-medium">
<div id="search-control">
<input type="text" class="uk-input" id="filter-field" placeholder="Type here to filter&hellip;"/>
</div>
</div>

<!-- task table start -->
<div class="uk-container uk-margin-medium">
    <table class="uk-margin-medium uk-table uk-table-divider uk-table-small sortable targetable">
        <thead>
        <tr>
            <th id="tira-tasks"></th>
            <th colspan="8">
                Tasks at TIRA
                <a href="#" class="uk-float-right uk-link-reset" data-uk-icon="chevron-up"></a>
            </th>
        </tr>
        <tr>
            <th></th>
            <th class="header"><span>Name</span></th>
            <th class="header"><span>Organization</span></th>
            <th class="header uk-text-center"><span>Year</span></th>
            <th class="header uk-text-right"><span>Datasets</span></th>
            <th class="header uk-text-right"><span>Softwares</span></th>
            <th class="header uk-text-right"><span>Website</span></th>
        </tr>
        </thead>
        <tbody>
        {% for id, task in tasks.items %}
        <tr>
            <td id="task-{{ id }}"></td>
            <td><a href="{% url 'tira:dataset' %}?q={{ id }}">{{ task.name }}</a></td>
            <td>{{ task.organizer }}</td>
            <td class="uk-text-center">{{ task.year }}</td>
            <td class="uk-text-right">{{ task.dataset_count }}</td>
            <td class="uk-text-right">{{ task.softwares_count }}</td>
            <td class="uk-text-right">
                <a href="{{ task.web }}" target="_blank">
                    <i class="fas fa-external-link-alt"></i>
                </a>
            </td>
        </tr>
        {% empty %}
            <tr><td>Sorry, we could not find any tasks.</td></tr>
        {% endfor %}
        </tbody>
    </table>

    <div id="filtered-all-message" class="uk-hidden uk-text-muted" aria-hidden="true">
        None of our tasks match your filter.
    </div>
</div>

</main>

<script src="https://assets.webis.de/js/thirdparty/jquery/jquery.slim.min.js"></script>
<script src="https://assets.webis.de/js/thirdparty/fontawesome/fontawesome.min.js"></script>
<script src="https://assets.webis.de/js/thirdparty/fontawesome/solid.min.js"></script>
<script src="https://assets.webis.de/js/filter.js"></script>
<script src="https://assets.webis.de/js/selection.js"></script>
<script src="https://assets.webis.de/js/tables.js"></script>
<script>initWebisTableFiltering();</script>
<script>initTableSorting();</script>

{#{% if all_users %}#}
{#<ul>#}
{#    {% for user in all_users %}#}
{#    <li><a href="{%  url 'tira:dataset-detail' user.user_name %}/">{{ user.user_name }}</a></li>#}
{#    {% endfor %}#}
{#</ul>#}
{#{% else %}#}
{#    <p>Nothing here!</p>#}
{#{% endif %}#}
{% endblock %}