{% extends 'tira/base.html' %}
{% load static %}
{% block title %}TIRA {{ task_id }}{% endblock %}
{% block description %}TIRA dataset for {{ task_id }}{% endblock %}
{% block navbar %}{% include "tira/navbar.html" with nav_active='tasks' %}{% endblock %}

{% block content %}
<nav class="uk-container">
<ul class="uk-breadcrumb">
<li><a href="{% url 'tira:index' %}">Tira.io</a></li>
<li class="uk-disabled"><a href="#">{{ task.task_name }}</a></li>
</ul>
</nav>

<main class="uk-section uk-section-default">
<!-- Title and anchor links -->
<div class="uk-container">
    <div uk-grid>
        <div class="uk-width-expand"><h1>{{ task.task_name }} <span class="uk-text-muted">Task</span></h1></div>
        <div>
            <a class="uk-button uk-button-default uk-text-large"
               uk-tooltip="title: Task Website;"
               href="{{ task.web }}">
               Task Website<i class="fas fa-external-link-alt uk-margin-small-left"></i></a>
            <a class="uk-button uk-button-primary uk-text-large"
               uk-tooltip="title: Participate;"
               href="{% if role == 'guest' %}{% url 'tira:login' %}{% else %}{% url 'tira:software-detail' task_id=task.task_id vm_id=vm_id %}{% endif %}">
               <i class="fas fa-terminal uk-margin-small-right"></i>Submit</a>
        </div>
    </div>

    <p class="uk-text-lead">{{ task.description }}</p>
</div>

<!-- task table start -->
<div class="uk-container uk-margin-medium">
    <h2>Datasets</h2>
    <table class="uk-margin-small uk-table uk-table-divider uk-table-small sortable targetable">
        <thead>
        <tr>
            <th></th>
<!--            <th class="header uk-text-center uk-padding-remove-right uk-padding-remove-left" uk-tooltip="title: Submissions;"><i class="fas fa-users-cog"></i></th>-->
            <th class="header"><span>Dataset</span></th>
            <th class="header uk-text-right"><span>Organization</span></th>
            <th  uk-text-right><span>Year</span></th>
        </tr>
        </thead>
        <tbody>
        {% for dataset in datasets %}
        <tr>
            <td id="task-{{ dataset.dataset_id }}"></td>
<!--            <td class="uk-text-right uk-padding-remove-left"><span class="uk-text-muted uk-text-small">{{ dataset.software_count }}</span></td>-->
            <td class="uk-text-truncate uk-width-expand">
                <a href="{% url 'tira:dataset-detail' task_id=task.task_id dataset_id=dataset.dataset_id %}">{{ dataset.dataset_id }}</a>
                <span class="uk-text-muted uk-text-small">({{ dataset.software_count }} Submissions)</span></td>
            <td class="uk-text-right">{{ dataset.organizer }}</td>
            <td class="uk-text-right ">{{ dataset.year }}</td>
        </tr>
        {% empty %}
            <tr><td>Sorry, we could not find any tasks.</td></tr>
        {% endfor %}
        </tbody>
    </table>
</div>

</main>

{% if not include_navigation %}
<script src="https://assets.webis.de/js/thirdparty/jquery/jquery.slim.min.js"></script>
{% endif %}
<script src="https://assets.webis.de/js/thirdparty/fontawesome/fontawesome.min.js"></script>
<script src="https://assets.webis.de/js/thirdparty/fontawesome/solid.min.js"></script>
<script src="https://assets.webis.de/js/filter.js"></script>
<script src="https://assets.webis.de/js/selection.js"></script>
<script src="https://assets.webis.de/js/tables.js"></script>
<script>initWebisTableFiltering();</script>
<script>initTableSorting();</script>

{% endblock %}