{% extends 'tira/base.html' %}
{% load static %}
{% block title %}TIRA Users{% endblock %}
{% block description %}TIRA Users{% endblock %}
{% block navbar %}{% include "tira/navbar.html" with nav_active='users' %}{% endblock %}

{% block content %}
<nav class="uk-container">
<ul class="uk-breadcrumb">
<li><a href="{% url 'tira:index' %}">Tira.io</a></li>
<li class="uk-disabled"><a href="#">Users</a></li>
</ul>
</nav>

<main class="uk-section uk-section-default">
<div class="uk-container">
    <h1>TIRA Users</h1>
</div>

<div class="uk-container uk-margin-medium">
    <p>This page lists all users (VMs).</p>
    <div id="search-control">
        <input type="text" class="uk-input" id="filter-field" placeholder="Type here to filter&hellip;"/>
    </div>
</div>

<div class="uk-container uk-margin-medium">
    <table class="uk-margin-medium uk-table uk-table-divider uk-table-small sortable targetable">
        <thead>
        <tr>
            <th id="tira-tasks"></th>
            <th colspan="4">
                TIRA Users
                <a href="#" class="uk-float-right uk-link-reset" data-uk-icon="chevron-up"></a>
            </th>
        </tr>
        <tr>
            <th></th>
            <th class="header"><span>User name</span></th>
            <th class="header"><span>E-mail</span></th>
            <th class="header"><span>Hostname</span></th>
            <th class="header"><span>VM name</span></th>
        </tr>
        </thead>
        <tbody>
        {% for key, user in users.items %}
        <tr>
            <td id="user-{{ user.userName }}"></td>
            <td class="uk-text-truncate uk-width-1-2"><a href="{% url 'tira:user-detail' user_id=key %}">{{ user.userName }}</a></td>
            <td>{{ user.email }}</td>
            <td>{{ user.host }}</td>
            <td>{{ user.vmName }}</td>
        </tr>
        {% empty %}
            <tr><td>Sorry, we could not find any tasks.</td></tr>
        {% endfor %}
        </tbody>
    </table>

    <div id="filtered-all-message" class="uk-hidden uk-text-muted" aria-hidden="true">
        None of our tasks match your filter.
    </div>
</div>
</main>
{% if not include_navigation %}
<script src="https://assets.webis.de/js/thirdparty/jquery/jquery.slim.min.js"></script>
{% endif %}
<script src="https://assets.webis.de/js/thirdparty/fontawesome/fontawesome.min.js"></script>
<script src="https://assets.webis.de/js/thirdparty/fontawesome/solid.min.js"></script>
<script src="https://assets.webis.de/js/filter.js"></script>
<script src="https://assets.webis.de/js/selection.js"></script>
<script src="https://assets.webis.de/js/tables.js"></script>
<script>initWebisTableFiltering();</script>
<script>initTableSorting();</script>

{#{% if all_users %}#}
{#<ul>#}
{#    {% for user in all_users %}#}
{#    <li><a href="{%  url 'tira:dataset-detail' user.user_name %}/">{{ user.user_name }}</a></li>#}
{#    {% endfor %}#}
{#</ul>#}
{#{% else %}#}
{#    <p>Nothing here!</p>#}
{#{% endif %}#}
{% endblock %}