<style>
  html, body {
    height: 100%;
    width: 100%;
  }

  body {
    /*background: url(https://farm4.staticflickr.com/3150/3097879070_00bf79b4a9_b.jpg) no-repeat center center fixed;*/
    /* https://flic.kr/p/5HKrw7 */

    background: url(https://farm4.staticflickr.com/3118/3097049855_55c33d88b0_b.jpg) no-repeat center center fixed; 
    /* https://flic.kr/p/5HFc2i */
    background-size: cover;
  }

  .header {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 15vh;
  }

  .vert-text {
    text-align: center;
  }

  .bottom-text {
    display: table-cell;
    vertical-align: bottom;
    text-align: right;
  }

  .navbar {
    margin-bottom: -55px;
    z-index: 1;
  }

  .navbar-default {
    background-color: rgba(255,255,255,0.5);
    border: none;
  }
</style>
