<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link href="{{contextPath}}/static/css/bootstrap.min.css" rel="stylesheet" />
<link href="{{contextPath}}/static/css/tira-discourse-fix.css" rel="stylesheet" />
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="{{contextPath}}/static/js/html5shiv.min.js"></script>
  <script src="{{contextPath}}/static/js/respond.min.js"></script>
<![endif]-->
