<style>
  /* https://github.com/twbs/bootstrap/issues/9939 */
  .tira.btn-group {
    white-space: nowrap;
  }
  
  .tira.btn-group .btn {
    float: none;
    display: inline-block;
  }
</style>
<style>
  .tira-admin-task-toolbar {
    padding-bottom: 20px;
  }
</style>
