<div class="row">
    <div class="col-xs-12">
        <div class="tira-panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="glyphicon glyphicon-modal-window"></span> RDP Settings</h3>
            </div>
            <div class="panel-body">
                <p>This function allows you to start a remote desktop session with your associated machine.
                    <br>Please choose your preferred display settings. A lower color depth and resolution may greatly increase the performance.<br></p>
                <dl class="dl-horizontal" style="margin-bottom:0px;">
                    <dt>Window</dt>
                    <dd>
                        <select class="form-control" id="window_select">
                            <option value="window">Windowed</option>
                            <option value="native">Native Fullscreen Resolution - experimental</option>

                        </select>
                    <dt>Resolution</dt>
                    <dd>
                        <select class="form-control" id="resolution_select">
                            <option value="yero">auto</option>
                            <option value="one">800x600</option>
                            <option value="two">1024x786</option>
                            <option value="three">1280x1024</option>
                            <option value="four">1680x1050</option>
                            <option value="five">1920x1080</option>

                        </select>
                    </dd>
                    <dt>Color Depth</dt>
                    <dd>
                        <select class="form-control" id="depth_select">
                            <option value="one">32 Bit</option>
                            <option value="two">16 Bit</option>
                            <option value="three">8 Bit</option>
                        </select>

                    </dd>
                    <dt>Keyboard Layout</dt>
                    <dd>
                        <select class="form-control" id="layout_select">
                            <option value="us">en-us-qwerty</option>
                            <option value="de">de-de-qwertz</option>
                            <option value="fr">fr-fr-azerty</option>
                            <option value="it">it-it-qwerty</option>
                            <option value="se">sv-se-qwerty</option>
                        </select>
                    </dd>
                </dl>
            </div>
            <div class="panel-footer">
                <div class="text-right">
                    <button class="btn btn-primary" onclick="postform()">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        Connect
                    </button>
                </div>
            </div>
            <script>
                function postform(){
                    var form = document.createElement("form");
                    form.setAttribute("method", "POST");
                    form.setAttribute("action", "{{contextPath}}/connect/cfg/");
                    var selected_window = document.getElementById('window_select');
                    var selected_window_value = selected_window.options[document.getElementById('window_select').selectedIndex].value;
                    var resolution = document.getElementById('resolution_select').options[document.getElementById('resolution_select').selectedIndex].text;
                    var depth = document.getElementById('depth_select').options[document.getElementById('depth_select').selectedIndex].text;
                    var layout = document.getElementById('layout_select').options[document.getElementById('layout_select').selectedIndex].text;
                    var fullscreen = "false";

                    if (selected_window_value == "native"){
                        var height = window.screen.height;
                        var width = window.screen.width;
                        resolution = width+"x"+height;
                        fullscreen = "true";
                    }
                    var fieldnumber = $( "dt" ).length;


                    var hiddenfield = document.createElement("input");
                    hiddenfield.setAttribute("type", "hidden");
                    hiddenfield.setAttribute("name", "resolution");
                    hiddenfield.setAttribute("value", resolution);
                    form.appendChild(hiddenfield);

                    var hiddenfield2 = document.createElement("input");
                    hiddenfield2.setAttribute("type", "hidden");
                    hiddenfield2.setAttribute("name", "depth");
                    hiddenfield2.setAttribute("value", depth);
                    form.appendChild(hiddenfield2);

                    var hiddenfield3 = document.createElement("input");
                    hiddenfield3.setAttribute("type", "hidden");
                    hiddenfield3.setAttribute("name", "layout");
                    hiddenfield3.setAttribute("value", layout);
                    form.appendChild(hiddenfield3);


                    var hiddenfield4 = document.createElement("input");
                    hiddenfield4.setAttribute("type", "hidden");
                    hiddenfield4.setAttribute("name", "protocol");
                    hiddenfield4.setAttribute("value", "rdp");
                    form.appendChild(hiddenfield4);

                    var hiddenfield5 = document.createElement("input");
                    hiddenfield5.setAttribute("type", "hidden");
                    hiddenfield5.setAttribute("name", "fullscreen");
                    hiddenfield5.setAttribute("value", fullscreen);
                    form.appendChild(hiddenfield5);
                    
                    document.body.appendChild(form);
                    form.submit();

                }
            </script>
        </div>
    </div>
</div>
<div class="tira-panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><span class="glyphicon glyphicon-modal-window"></span> SSH session</h3>
    </div>
    <div class="panel-body">
    <p>This function opens an SSH session with your associated machine in your browser.</p>
    </div>
    <script>

        function postformssh() {
            var form = document.createElement("form");
            form.setAttribute("method", "POST");
            form.setAttribute("action", "{{contextPath}}/connect/cfg/");


            var hf = document.createElement("input");
            hf.setAttribute("type", "hidden");
            hf.setAttribute("name", "protocol");
            hf.setAttribute("value", "ssh");
            form.appendChild(hf);

            var hiddenfield5 = document.createElement("input");
            hiddenfield5.setAttribute("type", "hidden");
            hiddenfield5.setAttribute("name", "fullscreen");
            hiddenfield5.setAttribute("value", "false");
            form.appendChild(hiddenfield5);

            document.body.appendChild(form);
            form.submit();
        }

    </script>
    <div class="panel-footer">
        <div class="text-right">
            <button class="btn btn-primary" onclick="postformssh()">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                Connect
            </button>
        </div>
    </div>
</div>




