<script type="text/javascript">
  $(document).ready(function() {
    setTimeout(updateRuntime, 1000);
  });
  
  function updateRuntime() {
    time = $("#runtime").text();
    days = "";
    if (time.indexOf("days,") > -1) {
      times = time.split(",");
      days = times[0].trim() + ", ";
      time = times[1].trim();
    }
    times = time.split(":");
    if (times.length === 3) {
      seconds = parseInt(times[0]) * 3600 + parseInt(times[1]) * 60 + parseInt(times[2]);
      seconds++;
      times[0] = Math.floor(seconds / 3600);
      times[1] = padZeros(Math.floor((seconds % 3600) / 60), 2);
      times[2] = padZeros(seconds % 60, 2);
      $("#runtime").text(days + times.join(":"));
    }
    setTimeout(updateRuntime, 1000);
  }
  
  function padZeros(num, size) {
    var s = num+"";
    while (s.length < size) s = "0" + s;
    return s;
  }
</script>
<script type="text/javascript">
  $(document).ready(function() {
    updateVmMetrics();
  });

  function updateVmMetrics() {
    $.ajax({
      url: "{{contextPath}}/task/{{task.taskId}}/user/{{user.userName}}/vm-metrics/",
      success: function(data, textStatus, jqXHR) {
        values = data.split("\n");
        if (values.length == 2) {
          if (values[0].length > 0) {
            $("#cpuLoad").text(values[0]);
          }
          if (values[1].length > 0) {
            $("#usedRam").text(values[1]);
          }
        }
        setTimeout(updateVmMetrics, 2000);
      },
      fail:  function(data, textStatus, jqXHR) {
        setTimeout(updateVmMetrics, 2000);
      }
    });
  }
</script>
