<div id="runs" class="row">
  <div class="col-xs-12">
    <div class="tira-panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><span class="glyphicon glyphicon-folder-close"></span> Datasets <span class="badge pull-right">users</span></h3>
      </div>
      <ul class="list-group">
        {{#datasetsList}}
        {{#dataset}}
        {{#isAdmin}}
        <a class="list-group-item {{#active}}active{{/active}}" href="{{contextPath}}/tira/admin/task/{{taskId}}/runs/dataset/{{datasetId}}/">
        {{/isAdmin}}
        {{^isAdmin}}
        <a class="list-group-item {{#active}}active{{/active}}" href="{{contextPath}}/task/{{taskId}}/dataset/{{datasetId}}/">
        {{/isAdmin}}
          {{> tira-widget-dataset-name3-body}}
          <span class="badge">{{runsCount}}</span>
        </a>
        {{/dataset}}
        {{/datasetsList}}
      </ul>      
    </div>
  </div>
</div><!-- /.row -->

