{{#vmInfo.processRunning}}
<div class="row">
  <div class="col-xs-12">
    <div class="tira-panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Software Running</h3>
      </div>
      <div class="panel-body">
        <p>You started a software on your virtual machine. Only one software can be started at a time. Therefore, access to this control tira-panel is limited until the software is finished. Dependent on its type, the size of the evaluation datasets involved, and the software's performance characteristics, the completion of this process may take some time.</p>
        <dl class="dl-horizontal" style="margin-bottom:0px;">
          <dt>Software</dt>
          <dd>{{vmInfo.processType}}</dd>
          <dt>Command</dt>
          <dd>{{vmInfo.software.command}}</dd>
          <dt>Working directory</dt>
          <dd>{{vmInfo.software.workingDirectory}}</dd>
          <dt>Input dataset</dt>
          <dd>{{#vmInfo.run}}{{> tira-widget-dataset-name2-body}}{{/vmInfo.run}}</dd>
          <dt>Input run</dt>
          <dd>{{vmInfo.run.inputRun}}</dd>
          <dt>Run</dt>
          <dd>{{vmInfo.processRunId}}</dd>
          <dt>State</dt>
          <dd>{{vmInfo.processState}}</dd>
          <dt>Runtime</dt>
          <dd id="runtime">{{vmInfo.processTime}}</dd>
          <dt>RAM used</dt>
          <dd>{{#vmInfo.processRunning}}<span id="usedRam">0MB</span>{{/vmInfo.processRunning}}</dd>
          <dt>CPU load</dt>
          <dd>{{#vmInfo.processRunning}}<span id="cpuLoad">0.00%</span>{{/vmInfo.processRunning}}</dd>
          {{#vmInfo.hasLatestOutput}}
          <dt>Latest output</dt>
          <dd><pre>{{vmInfo.latestOutput}}</pre></dd>
          {{/vmInfo.hasLatestOutput}}
        </dl>
      </div>
      <div class="panel-footer">
        <div class="text-right">
          {{#vmInfo.stateSandboxing}}
            <button class="btn btn-default active" data-toggle="tooltip" data-placement="left" title="Disabled while virtual machine is sandboxing.">Kill</button>
          {{/vmInfo.stateSandboxing}}
          {{#vmInfo.stateUnsandboxing}}
            <button class="btn btn-default active" data-toggle="tooltip" data-placement="left" title="Disabled while virtual machine is unsandboxing.">Kill</button>
          {{/vmInfo.stateUnsandboxing}}
          {{^vmInfo.stateSandboxing}}
          {{^vmInfo.stateUnsandboxing}}
          <form class="form-horizontal" role="form" action="{{contextPath}}/task/{{task.taskId}}/user/{{user.userName}}/software/{{vmInfo.processType}}/kill/" method="POST">
            <button type="submit" class="btn btn-danger">Kill</button>
          </form>
          {{/vmInfo.stateUnsandboxing}}
          {{/vmInfo.stateSandboxing}}
        </div>
      </div>
    </div>
  </div>
</div><!-- /.row -->
{{/vmInfo.processRunning}}
