<section class="uk-section uk-section-default">
    <div class="uk-container uk-margin-medium">
        <div id="search-control">
           <input type="text" class="uk-input" id="filter-field" placeholder="Type here to filter&hellip;"/> 
        </div>

        <div id=filtered-all-message" class="uk-hidden uk-text-muted" aria-hidden="true">
            None of our shared tasks match you filter.
        </div>
    </div>
    <div class="uk-container uk-margin-medium webis-data-table">
        <table class="uk-table uk-table-divider uk-table-small sortable targetable">
            <thead>
                <tr>
                    <th></th>
                    <th colspan="4">
                        Shared Tasks
                        <a href="#" class="uk-float-right uk-link-reset" data-uk-icon="chevron-up"></a>
                    </th>
                </tr>
                <tr>
                    <th></th>
                    <th class="header uk-table-shrink uk-text-center"><span>Host</span></th>
                    <th class="header uk-table-expand"><span>Task</span></th>
                    <th class="header uk-table-shrink"><span>Participants</span></th>
                    <th class="header uk-table-shrink uk-text-center"><span>Actions</span></th>
                </tr>
            </thead>
            <tbody>
                {{#hostsList}}
                {{#tasksList}}
                <tr>
                    <td id="{{taskId}}"></td>
                    <td class="uk-text-center">{{name}}</td>
                    {{#isSignedIn}}
                    <td class="uk-table-link"><a class="uk-link-reset" href="{{contextPath}}/task/{{taskId}}/user/{{signedInUserName}}/">{{taskName}}</a></td>
                    {{/isSignedIn}}
                    {{^isSignedIn}}
                    <td class="uk-table-link"><a class="uk-link-reset" href="{{contextPath}}/task/{{taskId}}/">{{taskName}}</a></td>
                    {{/isSignedIn}}
                    <td class="uk-text-center">{{taskStatistics.participants}}</td>
                    {{#isSignedIn}}
                    <td class="uk-text-center uk-text-nowrap">[<a href="{{contextPath}}/task/{{taskId}}/">view results</a>] [<a href="{{contextPath}}/task/{{taskId}}/user/{{signedInUserName}}/">participate</a>]</td>
                    {{/isSignedIn}}
                    {{^isSignedIn}}
                    <td class="uk-text-center uk-text-nowrap">[<a href="{{contextPath}}/task/{{taskId}}/">view results</a>] [<a href="{{contextPath}}/login">participate</a>]</td>
                    {{/isSignedIn}}
                </tr>
                {{/tasksList}}
                {{/hostsList}}
            </tbody>
        </table>
    </div>
</section>
<script charset="utf-8">
    initWebisTableFiltering(document.querySelectorAll(".targetable"), true, entry => {
        const attributes = entry.dataset;
        attributes['host'] = normalize(entry.children[1].textContent);
        attributes['task'] = normalize(entry.children[2].textContent);
        attributes['participants'] = normalize(entry.children[3].textContent);
        return attributes;
    });
    initTableSorting();
</script>
