<!DOCTYPE html>
<html>
  <head>
    {{> tira-head}}
    {{> bootstrap-head}}
    {{> tira-admin-task-toolbar-head}}
    {{> tira-admin-task-participants-head}}
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1>{{taskName}} <small>Administration</small></h1>
        </div>
      </div>
      {{> tira-admin-task-toolbar-body}}
      {{> tira-admin-task-runs-body}}
    </div><!-- /.container -->
    {{> jquery-foot}}
    {{> jquery-datatables-foot}}
    {{> bootstrap-foot}}
    {{> google-analytics-foot}}
    {{> tira-admin-task-participants-foot}}
  </body>
</html>
