{{#inputRun.run.softwareDeprecated}}<s>{{/inputRun.run.softwareDeprecated}}{{inputRun.run.softwareId}}{{#inputRun.run.softwareDeprecated}}</s>{{/inputRun.run.softwareDeprecated}}{{#inputRun.run.softwareDeleted}}<sup class="text-danger">deleted</sup>{{/inputRun.run.softwareDeleted}}
