<script src="{{contextPath}}/static/js/confirm-software-delete.js"></script>
<script type="text/javascript">
{{#softwaresList}}
{{^deleted}}
$('select[id="dataset{{count}}"] option[value="{{dataset}}"]').attr("selected","selected");
$('select[id="run{{count}}"] option[value="{{run}}"]').attr("selected","selected");
{{/deleted}}
{{/softwaresList}}
</script>
<script src="{{contextPath}}/static/js/selectpicker-render.js"></script>
