{{#hasRunsNotDeleted}}
<div id="runs" class="row">
  <div class="col-xs-12">
    <div class="tira-panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><span class="glyphicon glyphicon-folder-close"></span> Runs</h3>
      </div>
      <div class="table-responsive" style="overflow:auto;">
        <table id="runs-table" class="table table-condensed table-hover">
          <thead>
            <tr>
              <th>Software&nbsp;</th>
              <th class="sort-desc">Run&nbsp;</th>
              <th>Input dataset&nbsp;</th>
              <th>Input run&nbsp;</th>
              <th>Runtime&nbsp;</th>
              <th>Size&nbsp;</th>
              <th class="no-sort">Actions</th>
            </tr>
          </thead>
          <tbody>
            {{#runsNotDeletedList}}
            {{#run}}
            {{#hasReview}}
            {{#runReview}}
            {{#hasNoErrors}}
            <tr class="success">
            {{/hasNoErrors}}
            {{^hasNoErrors}}
            {{#hasErrors}}
            <tr class="danger">
            {{/hasErrors}}
            {{^hasErrors}}
            {{#hasWarnings}}
            <tr class="warning">
            {{/hasWarnings}}
            {{^hasWarnings}}
            <tr>
            {{/hasWarnings}}
            {{/hasErrors}}
            {{/hasNoErrors}}
            {{/runReview}}
            {{/hasReview}}
            {{^hasReview}}
            <tr>
            {{/hasReview}}
              <td data-sort="{{softwareId}}" {{#softwareDeprecated}}title="deprecated"{{/softwareDeprecated}}>{{> tira-widget-software-name-body}}</td>
              <td style="white-space:nowrap;" data-sort="{{runId}}" {{#isDeprecated}}title="deprecated"{{/isDeprecated}}>
                {{> tira-widget-run-name-body}}
              </td>
              <td style="white-space:nowrap;" data-sort="{{inputDataset}}" {{#inputDatasetDeprecated}}title="deprecated"{{/inputDatasetDeprecated}}>
                {{> tira-widget-dataset-name2-body}}
              </td>
              {{#hasInputRun}}
              {{#inputRun.hasReview}}
              {{#inputRun.runReview.hasNoErrors}}
              <td style="white-space:nowrap;" class="success" {{#inputRun.isDeprecated}}title="deprecated"{{/inputRun.isDeprecated}}>
              {{/inputRun.runReview.hasNoErrors}}
              {{^inputRun.runReview.hasNoErrors}}
              {{#inputRun.runReview.hasErrors}}
              <td style="white-space:nowrap;" class="danger" {{#inputRun.isDeprecated}}title="deprecated"{{/inputRun.isDeprecated}}>
              {{/inputRun.runReview.hasErrors}}
              {{^inputRun.runReview.hasErrors}}
              {{#inputRun.runReview.hasWarnings}}
              <td style="white-space:nowrap;" class="warning" {{#inputRun.isDeprecated}}title="deprecated"{{/inputRun.isDeprecated}}>
              {{/inputRun.runReview.hasWarnings}}
              {{^inputRun.runReview.hasWarnings}}
              <td style="white-space:nowrap;">
              {{/inputRun.runReview.hasWarnings}}
              {{/inputRun.runReview.hasErrors}}
              {{/inputRun.runReview.hasNoErrors}}
              {{/inputRun.hasReview}}
              {{^inputRun.hasReview}}
              <td style="white-space:nowrap;" {{#inputRun.isDeprecated}}title="deprecated"{{/inputRun.isDeprecated}}>
              {{/inputRun.hasReview}}
              {{/hasInputRun}}
              {{^hasInputRun}}
              <td style="white-space:nowrap;" {{#inputRun.isDeprecated}}title="deprecated"{{/inputRun.isDeprecated}}>
              {{/hasInputRun}}
                {{> tira-widget-run-name2-body}}
              </td>
              <td style="white-space:nowrap;">{{runtime}}</td>
              <td style="white-space:nowrap;" data-sort="{{sizeInBytes}}">{{size}}</td>
              <td style="white-space:nowrap;">
                <!--<a href="{{contextPath}}/task/{{task.taskId}}/user/{{user.userName}}/run/{{runId}}/view/" data-toggle="modal" data-target="#runModal" title="View"><span style="font-size:larger;" class="glyphicon glyphicon-info-sign text-primary"></span></a>-->
                <a href="{{contextPath}}/task/{{task.taskId}}/user/{{user.userName}}/run/{{runId}}/view/" title="View"><span style="font-size:larger;" class="glyphicon glyphicon-info-sign text-primary"></span></a>
                {{#downloadable}}
                <a href="{{contextPath}}/task/{{task.taskId}}/user/{{user.userName}}/run/{{runId}}.zip" title="Download" target="_blank"><span style="font-size:larger;color:black;" class="glyphicon glyphicon-download"></span></a>
                {{/downloadable}}
                {{^downloadable}}
                <a onClick="return false;" data-toggle="tooltip" data-placement="left" title="Download disabled; runs on test datasets cannot be downloaded."><span style="font-size:larger;" class="glyphicon glyphicon-download text-muted"></span></a>
                {{/downloadable}}
                <form class="form-inline" style="display:inline" role="form" action="{{contextPath}}/task/{{task.taskId}}/user/{{user.userName}}/run/{{runId}}/delete/" method="POST">
                  <a href="#" data-toggle="confirm-software-delete" data-placement="left"><span style="font-size:larger;" class="glyphicon glyphicon-remove-circle text-danger" title="Delete"></span></a>
                </form>
              </td>
            </tr>
            {{/run}}
            {{/runsNotDeletedList}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div><!-- /.row -->
{{/hasRunsNotDeleted}}
