<!DOCTYPE html>
<html>
  <head>
    {{> tira-head}}
    {{> bootstrap-head}}
    {{> bootstrap-select-head}}
    {{> tira-task-user-toolbar-head}}
    {{> tira-task-user-runs-head}}
  </head>
  <body>
    <div class="container">
      {{> tira-task-user-title-body}}
      {{> tira-task-user-toolbar-body}}
      {{> tira-task-user-vminfo-body}}
      {{> tira-task-user-software-body}}
      {{> tira-task-user-evaluator-body}}
      {{> tira-task-user-runs-body}}
    </div><!-- /.container -->
    {{> bootstrap-foot}}
    {{> bootstrap-select-foot}}
    {{> bootstrap-confirmation-foot}}
    {{> jquery-datatables-foot}}
    {{> google-analytics-foot}}
    {{> tira-task-user-foot}}
    {{> tira-task-user-vminfo-foot}}
    {{> tira-task-user-software-foot}}
    {{> tira-task-user-runs-foot}}
  </body>
</html>
