<div class="row tira-admin-task-toolbar">
  <div class="col-xs-12">
    <div class="tira btn-group btn-group-lg">
      <!-- This formatting avoids that spaces are shown between buttons -->
      <a type="button" class="btn btn-default {{#isPublicResults}}active{{/isPublicResults}}" href="{{contextPath}}/task/{{task.taskId}}/" title="Public Results">
        <span class="glyphicon glyphicon-globe"></span><span class="hidden-xs hidden-sm"> Public Results</span>
      </a>{{#isSignedIn}}<a type="button" class="btn btn-default {{#isMySoftware}}active{{/isMySoftware}}" href="{{contextPath}}/task/{{task.taskId}}/user/{{signedInUserName}}/" title="My Software">
        <span class="glyphicon glyphicon-modal-window"></span><span class="hidden-xs hidden-sm"> My Software</span>
      </a>{{/isSignedIn}}{{^isSignedIn}}<a type="button" class="btn btn-default" href="{{contextPath}}/authentication/" title="My Software">
        <span class="glyphicon glyphicon-modal-window"></span><span class="hidden-xs hidden-sm"> My Software</span>
      </a>{{/isSignedIn}}<a type="button" class="btn btn-default" href="{{task.web}}" title="Task Page">
        <span class="glyphicon glyphicon-info-sign"></span><span class="hidden-xs hidden-sm"> Task Page</span>
      </a>{{#isSignedIn}}
      {{#isReviewer}}<a type="button" class="btn btn-default" href="{{contextPath}}/tira/admin/task/{{task.taskId}}/" title="Admin">
        <span class="glyphicon glyphicon-cog"></span><span class="hidden-xs hidden-sm"> Admin</span>
      </a>
      {{/isReviewer}}
      {{/isSignedIn}}
    </div>
  </div>
</div>
