<div class="row tira-admin-task-toolbar">
  <div class="col-xs-12">
    <div class="tira btn-group btn-group-lg">
      <!-- This formatting avoids that spaces are shown between buttons -->
      <a type="button" class="btn btn-default disabled" href="{{contextPath}}/tira/admin/task/{{taskId}}/virtual-machine/" title="Settings">
        <span class="glyphicon glyphicon-wrench"></span><span class="hidden-xs hidden-sm"> Settings</span>
      </a><a type="button" class="btn btn-default {{#isVirtualMachines}}active{{/isVirtualMachines}}" href="{{contextPath}}/tira/admin/task/{{taskId}}/virtual-machine/" title="Virtual Machines">
        <span class="glyphicon glyphicon-modal-window"></span><span class="hidden-xs hidden-sm"> Virtual Machines</span>
      </a><a type="button" class="btn btn-default disabled" href="{{contextPath}}/tira/admin/task/{{taskId}}/scorers/" title="Scorers">
        <span class="glyphicon glyphicon-stats"></span><span class="hidden-xs hidden-sm"> Scorers</span>
      </a><a type="button" class="btn btn-default disabled" href="{{contextPath}}/tira/admin/task/{{taskId}}/datasets/" title="Datasets">
        <span class="glyphicon glyphicon-hdd"></span><span class="hidden-xs hidden-sm"> Datasets</span>
      </a><a type="button" class="btn btn-default {{#isParticipants}}active{{/isParticipants}}" href="{{contextPath}}/tira/admin/task/{{taskId}}/participants/" title="Participants">
        <span class="glyphicon glyphicon-user"></span><span class="hidden-xs hidden-sm"> Participants</span>
      </a><a type="button" class="btn btn-default" href="{{contextPath}}/tira/admin/task/{{taskId}}/runs/" title="Runs">
        <span class="glyphicon glyphicon-play"></span><span class="hidden-xs hidden-sm"> Runs</span>
      </a><a type="button" class="btn btn-default {{#isEvaluations}}active{{/isEvaluations}}" href="{{contextPath}}/tira/admin/task/{{taskId}}/evaluations/" title="Evaluations">
        <span class="glyphicon glyphicon-scale"></span><span class="hidden-xs hidden-sm"> Evaluations</span>
      </a>
    </div>
  </div>
</div>
