<style>
  .panel-heading.tira-panel-heading-for-back-button {
    padding: 0;
  }
  
  .panel-heading .tira-panel-heading-back-button {
    border:none;
    border-radius:0px;
    border-right:1px solid #ccc;
    background-color:#f5f5f5;
    padding-left:15px;
    padding-right:17px;
  }
  
  .panel-heading .tira-panel-heading-back-button .glyphicon {
    font-size:smaller;
    color:grey;
    margin-top:8px;
    margin-bottom:8px;
  }
  
  .panel-heading .tira-panel-heading-next-to-back-button {
    padding-top:10px;
    padding-bottom:8px;
    padding-left:15px;
    padding-right:15px;
    white-space:nowrap;
    overflow-x:hidden;
    font-size: 16px;
  }
</style>
