<div id="runs" class="row">
  <div class="col-xs-12">
    {{#run}}
    {{^deleted}}
    <div class="tira-panel panel-default">
      <div class="panel-heading tira-panel-heading-for-back-button">
        <div class="row">
          <div class="col-xs-12">
            <a href="#" onclick="history.back();" class="btn btn-default pull-left tira-panel-heading-back-button" title="Go back">
              <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <div class="tira-panel-heading-next-to-back-button">
              <span class="glyphicon glyphicon-folder-open"></span>&nbsp;&nbsp;Run Details
            </div>
            {{#query}}
            {{/query}}
          </div>
        </div><!-- /.row -->
      </div>
      <table class="table table-striped">
        <tbody>
          <tr>
            <td style="white-space:pre-wrap;">Overview</td>
          </tr>
          <tr>
            <td>
              <dl class="dl-horizontal" style="margin-bottom:0px;">
                <dt>Software</dt>
                <dd>{{> tira-widget-software-name-body}}</dd>
                <dt>Run</dt>
                <dd>{{> tira-widget-run-name-body}}</dd>
                <dt>Input dataset</dt>
                <dd>{{> tira-widget-dataset-name2-body}}</dd>
                <dt>Input run</dt>
                <dd>{{> tira-widget-run-name2-body}}</dd>
                <dt>Downloadable</dt>
                <dd>{{#downloadable}}true{{/downloadable}}{{^downloadable}}false{{/downloadable}}</dd>
                <dt>Runtime</dt>
                <dd>{{#runtime}}{{.}} (hh:mm:ss){{/runtime}}{{^runtime}}<em class="text-warning">missing</em>{{/runtime}}</dd>
                <dt>Runtime details</dt>
                <dd>{{#runtimeDetails}}{{.}}{{/runtimeDetails}}{{^runtimeDetails}}<em class="text-warning">missing</em>{{/runtimeDetails}}</dd>
                <dt>Size</dt>
                <dd>{{#size}}{{.}} ({{sizeInBytes}} bytes){{/size}}{{^size}}<em class="text-warning">missing</em>{{/size}}</dd>
                <dt>Lines</dt>
                <dd>{{#numLines}}{{.}}{{/numLines}}{{^numLines}}<em class="text-warning">missing</em>{{/numLines}}</dd>
                <dt>Files</dt>
                <dd>{{#numFiles}}{{.}}{{/numFiles}}{{^numFiles}}<em class="text-warning">missing</em>{{/numFiles}}</dd>
                <dt>Directories</dt>
                <dd>{{#numDirectories}}{{.}}{{/numDirectories}}{{^numDirectories}}<em class="text-warning">missing</em>{{/numDirectories}}</dd>
              </dl>
            </td>
          </tr>
          <tr>
            <td style="white-space:pre-wrap;">Review</td>
          </tr>
          <tr>
            <td>
              {{#hasReview}}
              {{#runReview}}
              <dl class="dl-horizontal" style="margin-bottom:0px;">
                <dt>Reviewer</dt>
                <dd>{{reviewerId}}</dd>
                {{#published}}
                <dt>Publication</dt>
                <dd>The run has been published on the task's public evaluation results page.</dd>
                {{/published}}
                {{^blinded}}
                <dt>Blinding</dt>
                <dd>The run has been unblinded so that output is visible.</dd>
                {{/blinded}}
                <dt>Errors</dt>
                {{#hasNoErrors}}
                <dd>None. This run seems to be alright.</dd>
                {{/hasNoErrors}}
                {{^hasNoErrors}}
                {{#missingOutput}}
                <dd>Required output missing.</dd>
                {{/missingOutput}}
                {{#extraneousOutput}}
                <dd>Extra output found. Please do not output anything that is not required for evaluation.</dd>
                {{/extraneousOutput}}
                {{#invalidOutput}}
                <dd>Output is invalid. Please consult your task's output format specification.</dd>
                {{/invalidOutput}}
                {{#hasErrorOutput}}
                <dd>Your software outputs some unusal error message to stdout or stderr.</dd>
                {{/hasErrorOutput}}
                {{#otherErrors}}
                <dd>We have noticed other errors; please see the comments below.</dd>
                {{/otherErrors}}
                {{/hasNoErrors}}
                {{#comment}}
                <dt>Comment</dt>
                <dd>{{.}}</dd>
                {{/comment}}
              </dl>
              {{/runReview}}
              {{/hasReview}}
              {{^hasReview}}
              <p>This run has not been reviewed by a task moderator, yet.</p>
              {{/hasReview}}
            </td>
          </tr>
          <tr>
            <td>Stdout</td>
          </tr>
          <tr>
            <td style="white-space:pre-wrap;font-family:monospace;line-height:normal;word-break:break-all;">{{#stdout}}{{.}}{{/stdout}}{{^stdout}}<span class="text-warning">No stdout recorded. Perhaps the software was never actually executed due to an initialization error in TIRA.</span>{{/stdout}}</td>
          </tr>
          <tr>
            <td>Stderr</td>
          </tr>
          <tr>
            <td style="white-space:pre-wrap;font-family:monospace;line-height:normal;word-break:break-all;">{{#stderr}}{{.}}{{/stderr}}{{^stderr}}&nbsp;{{/stderr}}</td>
          </tr>
          <tr>
            <td>File list</td>
          </tr>
          <tr>
            <td style="white-space:pre-wrap;font-family:monospace;line-height:normal;word-break:break-all;">{{#fileList}}{{.}}{{/fileList}}{{^fileList}}&nbsp;{{/fileList}}</td>
          </tr>
        </tbody>
      </table>
      <div class="panel-footer">
        <div class="text-right">
          {{#downloadable}}
          <a href="../../{{runId}}.zip" class="btn btn-default" target="_blank">Download</a>
          {{/downloadable}}
          {{^downloadable}}
          <a onClick="return false;" class="btn btn-default active" data-toggle="tooltip" data-placement="left" title="Download disabled; runs on test datasets cannot be downloaded.">Download</a>
          {{/downloadable}}
        </div>
      </div>
    </div>
    {{/deleted}}
    {{/run}}
  </div>
</div><!-- /.row -->
