<!DOCTYPE html>
<html>
  <head>
    {{> tira-head}}
    {{> bootstrap-head}}
    {{> tira-task-user-toolbar-head}}
  </head>
  <body>
    <div class="container">
      {{> tira-task-user-title-body}}
      {{> tira-task-user-toolbar-body}}
      {{> tira-task-user-vminfo-body}}
      {{> tira-task-user-softwarerunning-body}}
    </div><!-- /.container -->
    {{> bootstrap-foot}}
    {{> google-analytics-foot}}
    {{> tira-task-user-foot}}
    {{> tira-task-user-softwarerunning-foot}}
  </body>
</html>
