<!DOCTYPE html>
<html>
  <head>
    {{> tira-head}}
    {{> bootstrap-head}}
    {{> tira-task-head}}
    {{> tira-task-user-toolbar-head}}
  </head>
  <body>
    <div class="container">
      {{> tira-task-body}}
    </div><!-- /.container -->
    {{> bootstrap-foot}}
    {{> google-analytics-foot}}
    {{> tira-task-foot}}
    {{> tira-widget-error-popover-foot}}
  </body>
</html>
