<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{contextPath}}/" style="padding:5px 15px;">
        <img src="{{contextPath}}/static/tira-logo.png" alt="Tira logo" title="Tira" style="height:40px;" />
      </a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav">
        <li {{#highlightTasksLink}}class="active"{{/highlightTasksLink}}>
          <a href="{{contextPath}}/tasks/">Tasks</b></a>
        </li>
        <!--
        {{#isSignedIn}}
        <li>
          <a href="{{contextPath}}/connect/cfg/">Connect</b></a>
         </li>
        {{/isSignedIn}}
        -->
      </ul>
      {{#isSignedIn}}
      <div class="navbar-right" role="form">
        <span class="navbar-text">Signed in as {{signedInUserName}}</span>
      </div>
      {{/isSignedIn}}
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
