{{#hasSoftwareRunsNotDeleted}}
<div class="row">
  <div class="col-xs-12">
    <div class="tira-panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><span class="glyphicon glyphicon-cog"></span> Evaluator</h3>
      </div>
      {{#taskVmInfo.portSshOpen}}
      <form class="form-horizontal" role="form" action="{{contextPath}}/task/{{task.taskId}}/user/{{user.userName}}/software/evaluator/run/" method="POST">
      {{/taskVmInfo.portSshOpen}}
      {{^taskVmInfo.portSshOpen}}
      <form class="form-horizontal" role="form" action="{{contextPath}}/task/{{task.taskId}}/user/{{user.userName}}/software/evaluator/run/" method="POST" onSubmit="return false;">
      {{/taskVmInfo.portSshOpen}}
        <div class="panel-body">
          <div class="form-group">
            <label class="col-sm-3 col-md-2 control-label">Measures</label>
            <div class="col-sm-9 col-md-10" style="padding-top:6px;">
              {{task.evaluator.measures}}
            </div>
          </div>
          <div class="form-group">
            <label for="run" class="col-sm-3 col-md-2 control-label">Input run</label>
            <div class="col-sm-9 col-md-10">
              <select class="form-control selectpicker" id="run" name="run">
                {{#softwareRunsNotDeletedList}}
                {{#run}}
                <option value="{{runId}}" data-content="{{> tira-widget-software-name-body}}&emsp;{{> tira-widget-run-name-body}}&emsp;{{> tira-widget-dataset-name2-body}}">{{> tira-widget-software-name-body}}&emsp;{{> tira-widget-run-name-body}}&emsp;{{> tira-widget-dataset-name2-body}}</option>
                {{/run}}
                {{/softwareRunsNotDeletedList}}
              </select>
              <span class="help-block">Evaluator runs are excluded from this list.</span>
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <div class="text-right">
            {{#taskVmInfo.portSshOpen}}
            <button type="submit" class="btn btn-success">Run</button>
            {{/taskVmInfo.portSshOpen}}
            {{^taskVmInfo.portSshOpen}}
            <button class="btn btn-default active" data-toggle="tooltip" data-placement="left" title="Disabled since the evaluation virtual machine is not running.">Run</button>
            {{/taskVmInfo.portSshOpen}}
          </div>
        </div>
      </form>
    </div>
  </div>
</div><!-- /.row -->
{{/hasSoftwareRunsNotDeleted}}
