<script type="text/javascript">
$(document).ready(function() {
    setTimeout(() => {
    if (!$.fn.dataTable.isDataTable('#users-table')) {
        $('#users-table').dataTable({
            "bPaginate": false,
            "bLengthChange": false,
            "bFilter": false,
            "bSort": true,
            "bInfo": false,
            "bAutoWidth": false,
            "bStateSave": true,
            "aoColumnDefs" : [{
           "bSortable" : false,
           "aTargets" : ["no-sort"]
        }],
        // TODO: Replace the fixed index with a column name once possible in a newer version of data tables.
        "aaSorting": [[ "0", "asc" ]]
        });
    }}, 500);
});
</script>
<script type="text/javascript">
{{#evaluatorRunsList}}
$(document).ready(function() {
    if (!$.fn.dataTable.isDataTable('#runs-table-{{dataset}}')) {
        $('#runs-table-{{dataset}}').dataTable({
            "bPaginate": false,
            "bLengthChange": false,
            "bFilter": false,
            "bSort": true,
            "bInfo": false,
            "bAutoWidth": false,
            "bStateSave": true,
            "aoColumnDefs" : [{
           "bSortable" : false,
           "aTargets" : ["no-sort"]
        }],
        // TODO: Replace the fixed index with a column name once possible in a newer version of data tables.
        "aaSorting": [[ "0", "asc" ]]
        });
    }
});
{{/evaluatorRunsList}}
</script>
