<!DOCTYPE html>
<html>
  <head>
    {{> tira-head}}
    {{> bootstrap-head}}
    {{> tira-admin-task-toolbar-head}}
    {{> tira-admin-task-participants-head}}
  </head>
  <body>
    <div class="container">
      {{> tira-admin-task-title-body}}
      {{> tira-admin-task-toolbar-body}}
      {{> tira-admin-task-participants-body}}
    </div><!-- /.container -->
    {{> bootstrap-foot}}
    {{> jquery-datatables-foot}}
    {{> google-analytics-foot}}
    {{> tira-admin-task-participants-foot}}
  </body>
</html>
