<!DOCTYPE html>
<html>
  <head>
    {{> tira-head}}
    {{> webis-assets-head}}
  </head>
  <body>
    <div class="container">
      {{> tira-tasks-list-body-uikit}}
    </div><!-- /.container -->
    {{> bootstrap-foot}}
    {{> google-analytics-foot}}
  </body>
</html>
