<style>
.sorting_desc {
  background: url('{{contextPath}}/static/sort_desc.png') no-repeat center right;
  cursor: pointer;
  *cursor: hand;
}

.sorting_asc {
  background: url('{{contextPath}}/static/sort_asc.png') no-repeat center right;
  cursor: pointer;
  *cursor: hand;
}

.sorting_desc_disabled {
  background: url('{{contextPath}}/static/sort_desc_disabled.png') no-repeat center right;
  cursor: pointer;
  *cursor: hand;
}

.sorting_asc_disabled {
  background: url('{{contextPath}}/static/sort_asc_disabled.png') no-repeat center right;
  cursor: pointer;
  *cursor: hand;
}

.sorting {
  background: url('{{contextPath}}/static/sort_both.png') no-repeat center right;
  cursor: pointer;
  *cursor: hand;
}

.runs-table.table {
  margin-bottom: 0px;
}
</style>
