<script type="text/javascript">
$(document).ready(function() {
	$('#users-table').dataTable({
		"bPaginate": false,
		"bLengthChange": false,
		"bFilter": false,
		"bSort": true,
		"bInfo": false,
		"bAutoWidth": false,
		"bStateSave": true,
		"aoColumnDefs" : [{
       "bSortable" : false,
       "aTargets" : ["no-sort"]
    }],
    // TODO: Replace the fixed index with a column name once possible in a newer version of data tables.
    "aaSorting": [[ "0", "asc" ]]
    });
});
</script>
<script type="text/javascript">
{{#evaluatorRunsList}}
$(document).ready(function() {
	$('#runs-table-{{dataset}}').dataTable({
		"bPaginate": false,
		"bLengthChange": false,
		"bFilter": false,
		"bSort": true,
		"bInfo": false,
		"bAutoWidth": false,
		"bStateSave": true,
		"aoColumnDefs" : [{
       "bSortable" : false,
       "aTargets" : ["no-sort"]
    }],
    // TODO: Replace the fixed index with a column name once possible in a newer version of data tables.
    "aaSorting": [[ "0", "asc" ]]
    });
});
{{/evaluatorRunsList}}
</script>
