<div class="row">
  {{#hostsList}}
  <div class="col-sm-6 col-md-4">
    <div class="tira-panel panel-info">
      <div class="panel-heading">
        <h1 style="margin:0;">{{name}} <small>{{years}}</small></h1>
      </div>
      <ul class="list-group">
        {{#tasksList}}
        {{#isSignedIn}}
        <a href="{{contextPath}}/task/{{taskId}}/user/{{signedInUserName}}/" class="list-group-item">
        {{/isSignedIn}}
        {{^isSignedIn}}
        <a href="{{contextPath}}/task/{{taskId}}/" class="list-group-item">
        {{/isSignedIn}}
          <span class="badge">{{taskStatistics.participants}}</span>
          {{taskName}}
        </a>
        {{/tasksList}}
      </ul>
    </div>
  </div>
  {{/hostsList}}
  <div class="col-sm-6 col-md-4">
    <div class="tira-panel panel-default">
      <div class="panel-heading">
        <h1 style="margin:0;">YOU <small>now</small></h1>
      </div>
      <ul class="list-group">
        <a href="mailto:tira@webis.de?subject=Application to host shared task on TIRA" class="list-group-item text-muted">
          <span class="badge">
            <span class="glyphicon glyphicon-plus" aria-hidden="true" aria-label="Add"></span>
          </span>
          Apply to host your shared task at TIRA
        </a>
      </ul>
    </div>
  </div>
</div>
