<div class="modal fade in" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <a href="{{contextPath}}/" class="close" aria-hidden="true">&times;</a>
        <h4 class="modal-title" id="errorModalLabel">
          {{#isDirect}}Looking for errors?{{/isDirect}}
          {{^isDirect}}
          {{#is401}}Not signed in{{/is401}}
          {{#is404}}404 &mdash; Page not found{{/is404}}
          {{^is401}}
          {{^is404}}
          Oh snap! There's an error...
          {{/is404}}
          {{/is401}}
          {{/isDirect}}
        </h4>
      </div>
      <div class="modal-body">
        {{#isDirect}}
        <p>Howdy, fellow! This is our error page to which you seem to be browsing directly instead of being redirected here due to a real error.</p>
        <p>Since there are no errors to worry about, let's sit back and relax.</p>
        <p>Perhaps there's one thing of interest on this page, namely a small easter egg that can be observed at ï»¿Ø§Ù„Ø¥ UNEXPECTED END OF MESSAGE</p>
        {{/isDirect}}
        {{^isDirect}}
        {{#is401}}
        <p>This web page requires authorization and your request was denied because you are not signed in.</p>
        <p>Perhaps you forgot to sign in, perhaps you are not signed in as the right user, or perhaps you were signed out automatically due to inactivity.</p>
        {{/is401}}
        {{#is404}}
        <p>We're unable to locate the page you're looking for.</p>
        <p>There can be a number of reasons for this, the most common ones being typos in the URL or that it has been deleted meanwhile.</p>
        <p>If you insist there should be something here, don't hesitate to contact us.</p>
        {{/is404}}
        {{^is401}}
        {{^is404}}
        <p>We're sorry to report that Tira failed to complete your request. We took note of this error and will look into it as soon as possible. Tira is still in early beta, therefore we ask for your patience. Our sincere apologies for any inconvenience.</p>
        <p>To get an idea what caused the error, please review the technical details below:</p>
        <dl>
          {{#url}}
          <dt>URL</dt>
          <dd>{{.}}</dd>
          {{/url}}
          {{#statusCode}}
          <dt>Status code</dt>
          <dd>{{.}}</dd>
          {{/statusCode}}
          {{#errorMessage}}
          <dt>Error message</dt>
          <dd>{{.}}</dd>
          {{/errorMessage}}
          {{#hasCauses}}
          <dt>Causes</dt>
          {{#causesList}}
          <dd>{{.}}</dd>
          {{/causesList}}
          {{/hasCauses}}
        </dl>
        <p>You can try to work around this error by changing your request accordingly. If you keep experiencing this error, don't hesitate to contact us.</p>
        {{/is404}}
        {{/is401}}
        {{/isDirect}}
      </div><!-- /.modal-body -->
      <div class="modal-footer">
        <a href="mailto:tira@webis.de" type="button" class="btn btn-default">Contact help desk</a>
        <a href="{{contextPath}}/" type="button" class="btn btn-primary">Start over</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
