<!DOCTYPE html>
<html>
  <head>
    {{> tira-head}}
    {{> bootstrap-head}}
    {{> bootstrap-full-head}}
  </head>
  <body class="full">
    <div class="header">
      <div class="vert-text">
        <div style="background-color: rgba(255,255,255,0.75);padding-top:30px; padding-bottom:50px;">
          <h1>TIRA &mdash; Evaluation as a Service</h1>
          <h3>Improving the replicability of shared tasks in computer science</h3>
          <br/>
          <a href="{{contextPath}}/tasks/" class="btn btn-primary btn-lg">Browse tasks</a>
          <a href="https://webis.de/research/tira" target="_blank" class="btn btn-default btn-lg">Learn more</a>
        </div>
      </div>
    </div>
    <div style="position: absolute; left: 0; bottom: 0; z-index: 2; font-size: small;">
      <a href="https://flic.kr/p/5HFc2i" target="_blank">Image source</a>
    </div>
    {{> jquery-foot}}
    {{> bootstrap-foot}}
    {{> google-analytics-foot}}
  </body>
</html>
