<title>TIRA</title>
<link rel="shortcut icon" href="{{contextPath}}/static/logo-tira-32x32.png" />
<link href="{{contextPath}}/static/css/tira-discourse-fix.css" rel="stylesheet" />
<meta charset="UTF-8">
