<script src="{{contextPath}}/static/js/confirm-vm-shutdown-or-stop.js"></script>
<script src="{{contextPath}}/static/js/ajax-reload.js"></script>

<!--
<script type="text/javascript">
$('#screenshot-reload').click(function() {
  $('#screenshot').attr('src', '');
  setTimeout(function() {
    $('#screenshot').attr('src', '{{contextPath}}/task/{{task.taskId}}/user/{{user.userName}}/vm-screenshot.png');
  }, 1);
});
</script>
-->
