{{#isDeprecated}}<s>{{/isDeprecated}}{{runId}}{{#isDeprecated}}</s>{{/isDeprecated}}{{#deleted}}<sup class="text-danger">deleted</sup>{{/deleted}}{{#isRunning}}<sup class="text-info">now running</sup>{{/isRunning}}
