<!DOCTYPE html>
<html>
  <head>
    {{> tira-head}}
    {{> bootstrap-head}}
    {{> tira-admin-task-toolbar-head}}
    {{> tira-admin-task-participants-user-head}}
  </head>
  <body>
    <div class="container">
      {{> tira-admin-task-title-body}}
      {{> tira-admin-task-toolbar-body}}
      {{> tira-admin-task-participants-user-body}}
    </div><!-- /.container -->
    {{> bootstrap-foot}}
    {{> google-analytics-foot}}
    {{> tira-admin-task-participants-user-foot}}
    {{> tira-widget-error-popover-foot}}
  </body>
</html>
