<!DOCTYPE html>
<html>
  <head>
    {{> tira-head}}
    {{> bootstrap-head}}
  </head>
  <body>
    <div class="container">
      {{> tira-error-modal-body}}
    </div><!-- /.container -->
    {{> jquery-foot}}
    {{> bootstrap-foot}}
    {{> google-analytics-foot}}
    {{> tira-error-modal-foot}}
  </body>
</html>
