<!DOCTYPE html>
<html>
<head>
    {{> tira-head}}
    {{> bootstrap-head}}
    {{> bootstrap-select-head}}
    {{> tira-task-user-runs-head}}
</head>
<body>
<div class="container">
    {{> tira-task-user-title-body}}
    {{> tira-remote-config-rdp}}

</div><!-- /.container -->
{{> bootstrap-foot}}
{{> bootstrap-select-foot}}
{{> bootstrap-confirmation-foot}}
{{> google-analytics-foot}}
{{> tira-task-user-foot}}
{{> tira-task-user-vminfo-foot}}
{{> tira-task-user-software-foot}}
{{> tira-task-user-runs-foot}}
</body>
</html>
