<div class="row">
  <div class="col-xs-offset-3 col-xs-6">
    <div class="tira-panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Your account</h3>
      </div>
      <form class="form-horizontal" role="form" action="{{contextPath}}/authentication/" method="POST">
        <div class="panel-body">
          <div class="form-group">
            <label for="user" class="col-md-2 control-label">User</label>
            <div class="col-md-10">
              <input name="user" type="text" class="form-control" id="user" placeholder="User">
            </div>
          </div>
          <div class="form-group">
            <label for="password" class="col-md-2 control-label">Password</label>
            <div class="col-md-10">
              <input name="password" type="password" class="form-control" id="password" placeholder="Password">
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <div class="text-right">
            <button type="submit" class="btn btn-primary">Sign in</button>
          </div>
        </div>
      </form>
    </div>
    {{#wrongUserNameOrPassword}}
    <div class="alert alert-warning" role="alert">
      Wrong user name or password.
    </div>
    {{/wrongUserNameOrPassword}}
  </div>
</div><!-- /.row -->
