<script src="https://assets.webis.de/js/thirdparty/uikit/uikit.min.js"></script>
<script src="https://assets.webis.de/js/tables.js"/></script>
<script src="https://assets.webis.de/js/filter.js"/></script>
<link href="https://assets.webis.de/css/style.css" rel="stylesheet" />

