services:
  devenv:
    image: webis/tira:dev-container-0.0.1
    restart: unless-stopped
    environment:
      # TIRA Frontend Environment Variables
      VITE_TIRA_REST_BASE_URL: https://127.0.0.1:8080
      VITE_TIRA_GRPC_BASE_URL: https://127.0.0.1:8080
    external_links:
      - "auth:auth.tira.local"
      - "nginx:api.tira.local"
      - "s3mock:s3.tira.local"
    volumes:
      - ./devfiles/s3/.s3cfg:/home/ubuntu/.s3cfg
  auth:
    image: ghcr.io/authelia/authelia
    restart: unless-stopped
    volumes:
      - ./devfiles/authelia/configuration.dev.yml:/config/configuration.yml
      - ./devfiles/authelia/users-database.yml:/config/users_database.yml
  s3mock:
    image: adobe/s3mock
    restart: unless-stopped
    ports:
      - "9090:9090"
      - "9191:9191"
  nginx:
    image: lscr.io/linuxserver/nginx
    restart: unless-stopped
    #ports:
    #  - "8080:8080"
    #  - "8081:8081"
    #  - "8082:8082"
    external_links:
      - "auth:auth.tira.local"
      - "devenv:www.tira.local"
    volumes:
      - ./devfiles/nginx/tira.conf:/config/nginx/site-confs/tira.conf
      - ./devfiles/nginx/tira-backend.conf:/config/nginx/site-confs/tira-backend.conf
      - ./devfiles/nginx/auth.conf:/config/nginx/site-confs/auth.conf
      - ./devfiles/nginx/snippets/:/config/nginx/snippets/
      - ./devfiles/nginx/certs/:/etc/nginx/certs/
