<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app
  version="3.0"
  xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  metadata-complete="false">
  
  <!-- This explicit list of error codes is a work around for this issue:
       https://issues.apache.org/bugzilla/show_bug.cgi?id=52135
       The issue is fixed as of Tomcat 7.0.29, however, Ubuntu 12.04 features
       only Tomcat 7.0.26. Remove this explicit listing once moving to a more
       recent version of Tomcat.
   -->

  <error-page>
    <error-code>400</error-code>
    <location>/error/</location>
  </error-page>
  
  <error-page>
    <error-code>401</error-code>
    <location>/error/</location>
  </error-page>
  
  <error-page>
    <error-code>402</error-code>
    <location>/error/</location>
  </error-page>
  
  <error-page>
    <error-code>403</error-code>
    <location>/error/</location>
  </error-page>
  
  <error-page>
    <error-code>404</error-code>
    <location>/error/</location>
  </error-page>
  
  <error-page>
    <error-code>405</error-code>
    <location>/error/</location>
  </error-page>
  
  <error-page>
    <error-code>406</error-code>
    <location>/error/</location>
  </error-page>
  
  <error-page>
    <error-code>407</error-code>
    <location>/error/</location>
  </error-page>
  
  <error-page>
    <error-code>408</error-code>
    <location>/error/</location>
  </error-page>
  
  <error-page>
    <error-code>409</error-code>
    <location>/error/</location>
  </error-page>
  
  <error-page>
    <error-code>410</error-code>
    <location>/error/</location>
  </error-page>
  
  <error-page>
    <error-code>411</error-code>
    <location>/error/</location>
  </error-page>
  
  <error-page>
    <error-code>412</error-code>
    <location>/error/</location>
  </error-page>
  
  <error-page>
    <error-code>413</error-code>
    <location>/error/</location>
  </error-page>
  
  <error-page>
    <error-code>414</error-code>
    <location>/error/</location>
  </error-page>
  
  <error-page>
    <error-code>415</error-code>
    <location>/error/</location>
  </error-page>
  
  <error-page>
    <error-code>416</error-code>
    <location>/error/</location>
  </error-page>
  
  <error-page>
    <error-code>417</error-code>
    <location>/error/</location>
  </error-page>
  
  <error-page>
    <error-code>500</error-code>
    <location>/error/</location>
  </error-page>
  
  <error-page>
    <error-code>501</error-code>
    <location>/error/</location>
  </error-page>
  
  <error-page>
    <error-code>502</error-code>
    <location>/error/</location>
  </error-page>
  
  <error-page>
    <error-code>503</error-code>
    <location>/error/</location>
  </error-page>
  
  <error-page>
    <error-code>504</error-code>
    <location>/error/</location>
  </error-page>
  
  <error-page>
    <error-code>505</error-code>
    <location>/error/</location>
  </error-page>
  
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/error/</location>
  </error-page>
  
  <error-page>
    <location>/error/</location>
  </error-page>
</web-app>