{% extends 'tira/base.html' %}
{% load render_bundle from webpack_loader %}
{% block title %}TIRA{% endblock %}
{% block navbar %}{% include "tira/navbar.html" with nav_active='tasks' %}{% endblock %}

{% block content %}
{% csrf_token %}

{% if include_navigation %}
<script src="https://assets.webis.de/js/thirdparty/jquery/jquery.slim.min.js"></script>
<script src="https://assets.webis.de/js/thirdparty/fontawesome/fontawesome.min.js"></script>
<script src="https://assets.webis.de/js/thirdparty/fontawesome/solid.min.js"></script>
{% endif %}
<script src="https://assets.webis.de/js/filter.js"></script>
<script src="https://assets.webis.de/js/selection.js"></script>
<script src="https://assets.webis.de/js/tables.js"></script>


<div>
    <notification-bar v-for="notification in notifications"
                      :notification="notification" />
</div>

<div>
    <div class="uk-container uk-padding" >
        <h1>TIRA &mdash; Background Job: {{job.title}}</h1>
        
        If your job is finished (i.e., you see the output that you expect and there is an success exit code of 0), please go back to your task <a href="/task/{{task}}">/task/{{task}}</a>.
        Please refresh the page to see updates.
        
        <h3>Metadata</h3>
        <ul>
            <li>Last Contact to the Job: {{job.last_contact}}</li>
            <li>Exit code: {{job.exit_code}}</li>
        </ul>
        
        <h3>Stdout/Stderr of the job</h3>
        <pre>
        {{job.stdout}}
        </pre>
    </div>
    
</div>

{% endblock %}



