{% extends 'tira/base.html' %}
{% load render_bundle from webpack_loader %}
{% block title %}TIRA{% endblock %}
{% block description %}TIRA List of Tasks{% endblock %}
{% block navbar %}{% include "tira/navbar.html" with nav_active='tasks' %}{% endblock %}

{% block content %}
{% csrf_token %}
<div id="vue-index-mount">
<div>
    <notification-bar v-for="notification in notifications"
                      :notification="notification" />
</div>

<main class="uk-section uk-cover-container index-main-cover">
    <div class="cover-background-fade"></div>
    <div class="uk-container uk-position-bottom uk-light uk-padding" >
        <h1>TIRA &mdash; Evaluation as a Service</h1>
        <h2>Improving the replicability of shared tasks in computer science</h2>
    </div>
    <div class="uk-position-bottom-right uk-light uk-margin-right"><a href="https://www.shutterstock.com/image-photo/sunset-oia-santorini-greece-1005762703" target="_blank">Shutterstock</a></div>
</main>
<div class="uk-section uk-section-default">
    <!-- search field -->

    <div class="uk-container uk-margin-medium">
        <h1>Shared Tasks</h1>
    </div>
    <div class="uk-container uk-margin-medium">
        <div class="uk-grid-small" uk-grid>
            <div class="uk-width-1-3" id="search-control">
                <input type="text" class="uk-input" id="filter-field" placeholder="Type here to filter&hellip;"/>
            </div>
            {% if role == 'admin' %}
            <div v-if="role === 'admin'">
                <a uk-toggle="target: #add-task-modal" class="uk-button uk-button-large uk-button-default uk-text-large"><span class="uk-padding-small">Add Task +</span></a>
            </div>
            <div id="add-task-modal" uk-modal>
                <div class="uk-modal-dialog uk-modal-body uk-width-4-5">
                    <button class="uk-modal-close-default" type="button" uk-close></button>
                    <add-task :csrf="csrf"
                               @addNotification="(type, message) => addNotification(type, message)"
                               @closeModal="closeModal()" />
                </div>
            </div>
            <div v-if="role === 'admin'">
                <a uk-toggle="target: #edit-organization-modal" class="uk-button uk-button-large uk-button-default uk-text-large">
                      <span class="uk-padding-small">Edit Organizations</span><i class="fas fa-edit"></i></a>
            </div>
            <div id="edit-organization-modal" uk-modal>
                <div class="uk-modal-dialog uk-modal-body uk-width-4-5">
                    <button class="uk-modal-close-default" type="button" uk-close></button>
                    <edit-organization :csrf="csrf"
                               @addNotification="(type, message) => addNotification(type, message)"
                               @closeModal="closeModal()" />
                </div>
            </div>
            {% endif %}
        </div>
    </div>

    <!-- task table start -->
    <div class="uk-container uk-margin-medium">
        <table class="uk-margin-medium uk-table uk-table-divider uk-table-small sortable targetable">
            <thead>
            <tr>
                <th></th>
<!--                <th class="header uk-text-center uk-padding-remove-right uk-padding-remove-left" uk-tooltip="title: Submissions;"><i class="fas fa-users-cog"></i></th>-->
                <th class="header uk-table-expand"><span>Task</span></th>
                <th class="header uk-text-right"><span>Year(s)</span></th>
                <th class="header uk-text-right"><span>Organization</span></th>
                <!--<th class="header uk-text-right"><span>Year</span></th>-->
                <th class="header uk-margin-remove uk-padding-remove-vertical uk-padding-remove-right"></th>
            </tr>
            </thead>
            <tbody>
            {% for task in tasks %}
            <tr>
                <td id="task-{{ task.task_id }}"></td>
<!--                <td class="uk-text-right uk-padding-remove-left"><sup class="uk-text-muted uk-text-small">{{ task.software_count }}</sup></td>-->
                <td class="uk-text-nowrap">
                    <a href="{% url 'tira:task' task_id=task.task_id %}">{{ task.task_name }}</a>
                     <span class="uk-text-muted uk-text-small">({{ task.software_count }} submission)</span>
                </td>
                <td class="uk-text-right uk-text-nowrap">{{ task.year }}</td>
                <td class="uk-text-right" >{{ task.organizer }}</td>
                
                <td class="uk-text-right uk-text-nowrap uk-margin-remove uk-padding-remove-vertical uk-padding-remove-right">
                    <a class="uk-button uk-button-small uk-button-default uk-text-primary"
                       uk-tooltip="title: Participate;"
                       href="{% if role == 'guest' %}{% url 'tira:login' %}{% else %}{% url 'tira:software-detail' task_id=task.task_id vm_id=vm_id %}{% endif %}">
                        <i class="fas fa-terminal"></i>&nbsp;&nbsp;Submit</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td>Sorry, we could not find any tasks.</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        <div id="filtered-all-message" class="uk-hidden uk-text-muted" aria-hidden="true">
            None of our tasks match your filter.
        </div>
    </div>
</div>

</div>

{% render_bundle 'index' %}

{% if include_navigation %}
<script src="https://assets.webis.de/js/thirdparty/jquery/jquery.slim.min.js"></script>
<script src="https://assets.webis.de/js/thirdparty/fontawesome/fontawesome.min.js"></script>
<script src="https://assets.webis.de/js/thirdparty/fontawesome/solid.min.js"></script>
{% endif %}
<script src="https://assets.webis.de/js/filter.js"></script>
<script src="https://assets.webis.de/js/selection.js"></script>
<script src="https://assets.webis.de/js/tables.js"></script>
<script>initWebisTableFiltering();</script>
<script>initTableSorting();</script>

{% endblock %}
