{% extends 'tira/base.html' %}
{% load static %}
{% load render_bundle from webpack_loader %}
{% block title %}My TIRA{% endblock %}
{% block description %}My TIRA{% endblock %}
{% block navbar %}{% include "tira/navbar.html" with nav_active='software' %}{% endblock %}

{% block content %}
{% csrf_token %}


<div id="vue-user-mount">
<div>
    <notification-bar v-for="notification in notifications" :notification="notification" />
</div>

<main class="uk-section uk-section-default">
    <div class="uk-container">
        <h1><span v-if="!loading">[[ userId ]]</span><span v-else>loading user <font-awesome-icon icon="fas fa-circle-notch" spin /></span> <span class="uk-text-muted uk-text-lead">on Task <span v-if="!loading">[[ task.task_name ]]</span><span v-else>loading task <font-awesome-icon icon="fas fa-circle-notch" spin /></span></span></h1>
    </div>
    {{ runningSoftware }}
    <div v-if="!loading && runningSoftware.length > 0" class="uk-container uk-margin-medium">
        <running-process-list
            :running_software="runningSoftware"
            :running_evaluations="runningEvaluations"
            @addNotification="(type, message) => addNotification(type, message)"
        />
    </div>

    <div class="uk-container uk-margin-medium">
        <a class="uk-button uk-button-default uk-width-1-3"
                :class="{ 'tira-button-selected': selectedSubmissionType === 'upload'}"
                @click="selectedSubmissionType = 'upload'">
            Upload Submission<font-awesome-icon class="uk-margin-small-left" icon="fas fa-upload" /></a>
        <a class="uk-button uk-button-default uk-width-1-3"
                :class="{ 'tira-button-selected': selectedSubmissionType === 'docker'}"
                @click="selectedSubmissionType = 'docker'">
            Docker Submission<font-awesome-icon class="uk-margin-small-left" icon="fas fa-box-open" /></a>
        <a class="uk-button uk-button-default uk-width-1-3"
                :class="{ 'tira-button-selected': selectedSubmissionType === 'vm'}"
                @click="selectedSubmissionType = 'vm'">
            Virtual Machine Submission<font-awesome-icon class="uk-margin-small-left" icon="fas fa-terminal" /></a>
    </div>

    <!-- VM State and general options   -->
    <div v-if="loaded('upload')" class="uk-container uk-margin-small">
        <upload-submission-panel
                :csrf="csrf"
                :upload="upload"
                :taskid="task.task_id"
                :userid="vm.vm_id"
                :datasets="datasets"
                :running_evaluations="runningEvaluations"
                @addNotification="(type, message) => addNotification(type, message)"
                @removeRun="(runId, type) => removeRun(runId, type)"
                @pollEvaluations="pollRunningEvaluations()"
        />
    </div>
    <div v-else-if="loaded('docker')" class="uk-container uk-margin-small">
        <docker-submission-panel
            :csrf="csrf"
            :docker="docker"
            :user_id="vm.vm_id"
            :datasets="datasets"
            :running_evaluations="runningEvaluations"
            :task="task"
            @addNotification="(type, message) => addNotification(type, message)"
            @removeRun="(runId, type) => removeRun(runId, type)"
            @pollEvaluations="pollRunningEvaluations()"
            @pollRunningContainer="pollRunningSoftware()"
            @addcontainer="(newSoftware) => addContainer(newContainer)"
            @deletecontainer="(softwareId) => deleteContainer(containerId)"
            />
    </div>
    <div v-else-if="loaded('vm')" class="uk-container uk-margin-small">
        <vm-control-panel
              v-if="!isDefault"
              :csrf="csrf"
              :vm="vm"
              :task="task"
              :vmstatus="vmStatus"
              :vmstate="vmState"
              :polling="polling"
              :statelabels="stateLabels"
              @addNotification="(type, message) => addNotification(type, message)"
              @pollState="pollVmState()"
              @pollVmInfo="loadVmInfo()"
            />

        <div v-if="isDefault" class="uk-card uk-card-body uk-card-default">
            <b>No Virtual Machine.</b>
            <br>
            Your TIRA account is currently not associated with a virtual machine.
            Without a VM, you can only use 'Upload' to submit results.
            <br>
            Please contact your task organizer to obtain a TIRA virtual machine.
        </div>

        <vm-submission-panel
                :csrf="csrf"
                :software="software"
                :user_id="vm.vm_id"
                :datasets="datasets"
                :running_evaluations="runningEvaluations"
                :task="task"
                @addNotification="(type, message) => addNotification(type, message)"
                @removeRun="(runId, type) => removeRun(runId, type)"
                @pollEvaluations="pollRunningEvaluations()"
                @pollRunningSoftware="pollVmState()"
                @addSoftware="(newSoftware) => addSoftware(newSoftware)"
                @deleteSoftware="(softwareId) => deleteSoftware(softwareId)"
                />
    </div>
</main>

</div>

{% render_bundle 'user' %}

{#{% if not include_navigation %}#}
{#<script src="https://assets.webis.de/js/thirdparty/jquery/jquery.slim.min.js"></script>#}
{#{% endif %}#}
{#<script src="https://assets.webis.de/js/thirdparty/fontawesome/fontawesome.min.js"></script>#}
{#<script src="https://assets.webis.de/js/thirdparty/fontawesome/solid.min.js"></script>#}
{#<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>#}

{% if include_navigation %}
<script src="https://assets.webis.de/js/thirdparty/jquery/jquery.slim.min.js"></script>
<script src="https://assets.webis.de/js/thirdparty/fontawesome/fontawesome.min.js"></script>
<script src="https://assets.webis.de/js/thirdparty/fontawesome/solid.min.js"></script>
{% endif %}
<script src="https://assets.webis.de/js/filter.js"></script>
<script src="https://assets.webis.de/js/selection.js"></script>
<script src="https://assets.webis.de/js/tables.js"></script>

{# TODO #}
{#<script src="{% static 'tira/js/util.js' %}"></script>#}
{#<script src="{% static 'tira/js/software.js' %}"></script>#}
{#<script>#}
{#    addSoftwareEvents("{{ task.task_id }}", "{{ vm_id }}", "{{ is_default }}")#}
{#    setupPollingAfterPageLoad("{{ vm_id }}", "{{ is_default }}")#}
{#</script>#}

{% endblock %}
