<li id="{{ software.id }}-row">
    <form id="{{ software.id }}-form" class="software_form">
        {% csrf_token %}
        <div class="uk-grid-medium uk-margin-small" uk-grid>
            <div class="uk-width-1-6">
                <label class="uk-form-label" for="{{ software.id }}-working-dir">Working Directory</label>
                <div class="uk-form-controls">
                    <input class="uk-input" id="{{ software.id }}-working-dir" type="text"
                           value="{{ software.working_directory }}" placeholder="/home/{{ vm_id }}/">
                </div>
            </div>
            <div class="uk-width-1-2">
                <label class="uk-form-label" for="{{ software.id }}-command-input">Command</label>
                <div class="uk-form-controls">
                    <input class="uk-input command-input" id="{{ software.id }}-command-input" type="text"
                           value="{{ software.command }}" placeholder="Dummy Command">
                </div>
            </div>
            <div class="uk-width-expand">
                <label class="uk-form-label" for="{{ software.id }}-input-dataset">Input Dataset</label>
                <div class="uk-form-controls">
                    <select class="uk-select software-select" id="{{ software.id }}-input-dataset">
                        <option value="{{ software.dataset }}" selected>{{ software.dataset }}</option>
                        {% for dataset in datasets %}
                        {% if not dataset.is_deprecated and dataset.dataset_id != software.dataset %}
                        <option value="{{ dataset.dataset_id }}">{{ dataset.dataset_id }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
    </form>
    <div id="{{ software.id }}-form-error" class="uk-text-danger"></div>
    <div class="software-form-buttons">
        <button class="uk-button uk-button-small uk-button-disabled uk-width-1-6 software-run-button" id="{{ software.id }}-run-button"
                uk-tooltip="title: If the VM is 'running': Execute {{ software.id }}. Only one Software can be executed at a time. Software will be saved when executing a run.; delay: 500"
                data-tira-software-id="{{ software.id }}" disabled>run
        </button>
        <button class="uk-button uk-button-small uk-button-default software-save-button"
                data-tira-software-id="{{ software.id }}"><i class="fas fa-save"></i></button>
        <button class="uk-button uk-button-small uk-button-default"
            uk-tooltip="title: Click to show the help for Commands; delay: 500"
                uk-toggle="target: #modal-command-help"><i class="fas fa-info"></i></button>
        <button class="uk-button uk-button-small uk-button-danger software-delete-button"
                data-tira-software-id="{{ software.id }}"><i class="fas fa-trash-alt"></i></button>
        <div class="uk-align-right">
            <span class="uk-text-small uk-text-lead" id="{{ software.id }}-last-edit">last edit: {{ software.last_edit }}
            </span>
        </div>
    </div>
    <table class="uk-margin-small uk-table uk-table-divider uk-table-small uk-table-responsive uk-table-middle">
        <thead>
        <tr>
            <th></th>
            <th class="uk-table-shrink"></th>
            <th class="uk-table-shrink"></th>
            <th class="uk-table-shrink"></th>
            <th class="header uk-table-shrink uk-text-nowrap"><span>Run</span></th>
            <th class="header uk-table-shrink uk-text-nowrap"><span>Input Run</span></th>
            <th class="header uk-table-expand"><span>Dataset</span></th>
            <th class="header uk-text-center uk-width-1-4">Actions</th>
        </tr>
        </thead>
        <tbody id="{{ software.id }}-runs-tbody">
        {% for run in runs %}
        <tr class="uk-padding-remove" id="{{ software.id }}-{{ run.run_id }}-run">
            <td></td>
            <td class="uk-table-shrink uk-padding-remove-vertical">
                {% if run.review.noErrors == True %}
                <div uk-tooltip="title: This run is OK; delay: 500">
                    <i class="fas fa-check dataset-detail-icon uk-text-success"></i>
                </div>
                {% elif run.review.hasErrors == True %}
                <div uk-tooltip="title: This run has errors; delay: 500">
                    <i class="fas fa-times dataset-detail-icon uk-text-danger"></i>
                </div>
                {% endif %}
            </td>
            <td class="uk-table-shrink uk-padding-remove-vertical">
                {% if run.review.blinded == True %}
                <div uk-tooltip="title: This run is blinded; delay: 500">
                    <i class="fas fa-user-slash dataset-detail-icon"></i>
                </div>
                {% else %}
                <div uk-tooltip="title: You can inspect the results of this run; delay: 500">
                    <i class="fas fa-user dataset-detail-icon uk-text-success"></i>
                </div>
                {% endif %}
            </td>
            <td class="uk-table-shrink uk-padding-remove-vertical"> <!-- Icons -->
                {% if run.review.published == True %}
                <div uk-tooltip="title: This run is on the leaderboards; delay: 500">
                    <i class="fas fa-users dataset-detail-icon uk-text-success"></i>
                </div>
                {% else %}
                <div uk-tooltip="title: This run is not published; delay: 500">
                    <i class="fas fa-users-slash dataset-detail-icon"></i>
                </div>
                {% endif %}
            </td>
            <td class="uk-table-shrink uk-text-nowrap uk-padding-remove-vertical">
                {% if run.is_evaluation != "none" %}<i class="fas fa-level-up-alt" style="transform: scaleX(-1);"></i>{% endif %}
                &nbsp;{{ run.run_id }}
            </td>
            <td class="uk-table-shrink uk-text-nowrap uk-padding-remove-vertical">
                {% if run.is_evaluation %}{{ run.input_run_id }}{% endif %}
            </td>
            <td class="uk-padding-remove-vertical">{{ run.dataset }}</td>
            <td class="uk-align-right uk-table-expand uk-margin-remove uk-padding-remove-vertical uk-padding-remove-right">
                <a class="uk-align-right uk-margin-remove uk-button uk-button-small uk-button-danger run-delete-button"
                   data-tira-dataset="{{ run.dataset }}" data-tira-vm-id="{{ vm_id }}"
                   data-tira-run-id="{{ run.run_id }}"><i class="fas fa-trash-alt"></i></a>
                {% if task_id != "" and vm_id != "" and run.dataset != "" and run.run_id != "" %}
                <a class="uk-align-right uk-margin-remove  uk-button uk-button-small uk-button-default"
                   href="{% url 'tira:review' task_id=task_id vm_id=vm_id dataset_id=run.dataset run_id=run.run_id %}">inspect</a>
                {% endif %}
                {% if not run.is_evaluation %}
                <a class="uk-align-right uk-margin-remove uk-button uk-button-small uk-button-default run-evaluate-button"
                   data-tira-dataset="{{ run.dataset }}" data-tira-vm-id="{{ vm_id }}"
                   data-tira-run-id="{{ run.run_id }}">
                    <div id="run-evaluate-spinner-{{ run.run_id }}" class="run-evaluate-spinner" uk-spinner="ratio: 0.4"></div> evaluate</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</li>
