{% extends 'tira/base.html' %}
{% load static %}
{% load render_bundle from webpack_loader %}
{% block title %}TIRA Users{% endblock %}
{% block description %}TIRA Users{% endblock %}
{% block navbar %}{% include "tira/navbar.html" with nav_active='tasks' %}{% endblock %}

{% block content %}
{% csrf_token %}
<div id="vue-task-mount">
    <div>
        <notification-bar v-for="notification in notifications"
                          :notification="notification"/>
    </div>

    <nav class="uk-container">
        <ul class="uk-breadcrumb">
            <li><a href="{% url 'tira:index' %}">Tira.io</a></li>
            <li><a href="{% url 'tira:task' task_id=task_id %}">[[ taskName ]]</a></li>
        </ul>
    </nav>

    <main class="uk-section uk-section-default">
        <div class="uk-container">
            <div uk-grid>
                <div class="uk-width-expand@m uk-width-1-2@s">
                    <h1>[[ taskName ]] <span class="uk-text-lead uk-text-muted">by [[ organizerName ]]</span></h1>
                </div>
                <div>
                    <a uk-toggle="target: #task-edit-modal" class="uk-button uk-button-default uk-text-large"
                       uk-tooltip="title: Edit Task;">
                        <span class="uk-padding-small">Edit</span><i class="fas fa-edit"></i></a>
                    <a class="uk-button uk-button-default uk-text-large"
                       uk-tooltip="title: Task Website;"
                       target="_blank"
                       :href="website">
                        <span class="uk-padding-small">Task Website</span><i
                            class="fas fa-external-link-alt uk-margin-small-left"></i></a>
                    <a class="uk-button uk-button-primary uk-text-large"
                       uk-tooltip="title: Participate;"
                       href="{% if role == 'guest' %}{% url 'tira:login' %}{% else %}{% url 'tira:software-detail' task_id=task_id vm_id=vm_id %}{% endif %}">
                        <i class="fas fa-terminal uk-margin-right"></i>Submit</a>
                </div>
            </div>
            <div class="uk-margin-small">
                [[ taskDescription ]]
            </div>
        </div>

        <div class="uk-container uk-margin-medium">
            <div uk-grid>
                <div><h2>Dataset</h2></div>
                <div>
                    <ul class="uk-subnav uk-subnav-pill">
                        <li><a href="#">[[ get_selected ]] <span uk-icon="icon: triangle-down"></span></a>
                            <div class="dropdown-scroll" id='dropdownDatasetSelector' uk-dropdown="mode: click">
                                <ul class="uk-nav uk-dropdown-nav">
                                    <li class="uk-nav-header">Training Datasets</li>
                                    <li :class="{ 'uk-active': ds_id == selected }" v-for="ds_id in training_ids">
                                        <a @click="setSelected(ds_id)"><span v-html="get_nav_item(ds_id)"></span></a>
                                    </li>
                                    <li class="uk-nav-header">Test Datasets</li>
                                    <li :class="{ 'uk-active': ds_id == selected }" v-for="ds_id in test_ids">
                                        <a href="#" @click="setSelected(ds_id)"><span
                                                v-html="get_nav_item(ds_id)"></span></a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <div v-if="loading" uk-spinner="ratio: 0.5"></div>
                <div v-else><i src="fa-solid fa-check"></i></div>
                {% if role == 'admin' %}
                <a uk-toggle="target: #edit-dataset-modal" class="uk-button uk-button-default uk-text-large"
                   v-if="this.selected !== ''"><span class="uk-padding-small">Edit Dataset</span><i
                        class="fas fa-edit"></i></a>
                <a uk-toggle="target: #add-dataset-modal" class="uk-button uk-button-default uk-text-large">
                    <span class="uk-padding-small">Add Dataset +</span></a>
                {% endif %}
            </div>
        </div>
        {% if role == 'admin' %}
        <div id="add-dataset-modal" uk-modal>
            <div class="uk-modal-dialog uk-modal-body uk-width-4-5">
                <button class="uk-modal-close-default" type="button" uk-close></button>
                <add-dataset :csrf="csrf"
                             :task_id="task_id"
                             @addNotification="(type, message) => addNotification(type, message)"
                             @addDataset="(dataset) => addDataset(dataset)"
                             @closeModal="closeModal()"/>
            </div>
        </div>
        <div id="edit-dataset-modal" uk-modal>
            <div class="uk-modal-dialog uk-modal-body uk-width-4-5">
                <button class="uk-modal-close-default" type="button" uk-close></button>
                <edit-dataset :csrf="csrf"
                              :dataset_id="selected"
                              @addNotification="(type, message) => addNotification(type, message)"
                              @closeModal="closeModal()"
                              @deleteDataset="(dsId) => deleteDataset(dsId)"
                              @editDataset="(dataset) => addDataset(dataset)"
                              v-if="selected !== ''"/>
            </div>
        </div>
        {% endif %}

        <div v-if="selected != '' && evaluations[selected]" class="uk-container uk-margin-medium">
            <div class="uk-grid-collapse" uk-grid>
                <div class="uk-width-expand">
                    <h2>Leaderboard</h2>
                </div>
                <div class="" v-if="role === 'admin'">
                    <input id="check-hide-private" class="uk-checkbox" type="checkbox" v-model="hide_private">&nbsp;
                    <label for="check-hide-private">Hide private evaluations</label>
                </div>
            </div>
            <Leaderboard :keys="evaluations[selected].ev_keys"
                         :evaluation="evaluations[selected].evaluations"
                         :role="role"
                         :dataset_id="selected"
                         :task_id="task_id"
                         :hide_private="hide_private"/>
        </div>

        {% if role == 'admin' %}
        <div v-if="selected !== '' && role === 'admin' && vms[selected]" class="uk-container uk-margin-medium">

            <div class="uk-grid-collapse" uk-grid>
                <div class="uk-width-expand">
                    <h2>Participants</h2>
                </div>
                <div class="" v-if="role === 'admin'">
                    <input id="check-hide-reviewed" class="uk-checkbox" type="checkbox" v-model="hide_reviewed">&nbsp;
                    <label for="check-hide-reviewed">Hide already reviewed runs</label>
                </div>
            </div>
            <review-list :vms="vms[selected]" :task_id="task_id" :dataset_id="selected" :hide_reviewed="hide_reviewed"/>
        </div>

        <div id="task-edit-modal" uk-modal>
            <div class="uk-modal-dialog uk-modal-body uk-width-4-5">
                <button class="uk-modal-close-default" type="button" uk-close></button>
                <edit-task :csrf="csrf"
                           @addNotification="(type, message) => addNotification(type, message)"
                           @updateTask="(message) => updateTask(message)"
                           :task_id="task_id"/>
            </div>
        </div>
        {% endif %}
    </main>
</div>
{% render_bundle 'task' %}

{% if not include_navigation %}
<script src="https://assets.webis.de/js/thirdparty/jquery/jquery.slim.min.js"></script>
{% endif %}
<script src="https://assets.webis.de/js/thirdparty/fontawesome/fontawesome.min.js"></script>
<script src="https://assets.webis.de/js/thirdparty/fontawesome/solid.min.js"></script>
<script src="https://assets.webis.de/js/filter.js"></script>
<script src="https://assets.webis.de/js/selection.js"></script>
<script src="https://assets.webis.de/js/tables.js"></script>
<script>initWebisTableFiltering();</script>
<script>initTableSorting();</script>
{% endblock %}
