<li id="uploads-row">
    uploads
    <form id="uploads-form" class="upload_form">
        {% csrf_token %}
        <div class="uk-grid-medium uk-margin-small" uk-grid>
            <div class="uk-width-2-3">
                <label class="uk-form-label" for="uploadresultsinput">Upload Results</label>
                <div class="uk-form-controls">
                    <input class="uk-input" id="uploadresultsinput" name='uploadresultsinput' type="file" placeholder="Click to upload results">
                </div>
            </div>
            <div class="uk-width-expand">
                <label class="uk-form-label" for="upload-input-dataset">Input Dataset</label>
                <div class="uk-form-controls">
                    <select class="uk-select upload-select" id="upload-input-dataset">
                        <option value="{{ upload.dataset }}" selected>{{ upload.dataset }}</option>
                        {% for dataset in datasets %}
                        {% if not dataset.is_deprecated and dataset.dataset_id != upload.dataset %}
                        <option value="{{ dataset.dataset_id }}">{{ dataset.dataset_id }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="upload-form-buttons">
            <button class="uk-button uk-button-small uk-button-primary uk-width-1-6 upload-button" id="upload-button">upload</button>
            <div class="uk-align-right">
                <span class="uk-text-small uk-text-lead" id="{{ upload.id }}-last-edit">last edit: {{ upload.last_edit }}
                </span>
            </div>
        </div>
    </form>
    <div id="upload-form-error" class="uk-text-danger"></div>
    <table class="uk-margin-small uk-table uk-table-divider uk-table-small uk-table-responsive uk-table-middle">
        <thead>
        <tr>
            <th></th>
            <th class="uk-table-shrink"></th>
            <th class="uk-table-shrink"></th>
            <th class="uk-table-shrink"></th>
            <th class="header uk-table-shrink uk-text-nowrap"><span>Run</span></th>
            <th class="header uk-table-shrink uk-text-nowrap"><span>Input Run</span></th>
            <th class="header uk-table-expand"><span>Dataset</span></th>
            <th class="header uk-text-center uk-width-1-4">Actions</th>
        </tr>
        </thead>
        <tbody id="uploads-runs-tbody">
        {% for run in upload.runs %}
        <tr class="uk-padding-remove" id="upload-{{ run.run_id }}-run">
            <td></td>
            <td class="uk-table-shrink uk-padding-remove-vertical">
                {% if run.review.noErrors == True %}
                <div uk-tooltip="title: This run is OK; delay: 500">
                    <i class="fas fa-check dataset-detail-icon uk-text-success"></i>
                </div>
                {% elif run.review.hasErrors == True %}
                <div uk-tooltip="title: This run has errors; delay: 500">
                    <i class="fas fa-times dataset-detail-icon uk-text-danger"></i>
                </div>
                {% endif %}
            </td>
            <td class="uk-table-shrink uk-padding-remove-vertical">
                {% if run.review.blinded == True %}
                <div uk-tooltip="title: This run is blinded; delay: 500">
                    <i class="fas fa-user-slash dataset-detail-icon"></i>
                </div>
                {% else %}
                <div uk-tooltip="title: You can inspect the results of this run; delay: 500">
                    <i class="fas fa-user dataset-detail-icon uk-text-success"></i>
                </div>
                {% endif %}
            </td>
            <td class="uk-table-shrink uk-padding-remove-vertical"> <!-- Icons -->
                {% if run.review.published == True %}
                <div uk-tooltip="title: This run is on the leaderboards; delay: 500">
                    <i class="fas fa-users dataset-detail-icon uk-text-success"></i>
                </div>
                {% else %}
                <div uk-tooltip="title: This run is not published; delay: 500">
                    <i class="fas fa-users-slash dataset-detail-icon"></i>
                </div>
                {% endif %}
            </td>
            <td class="uk-table-shrink uk-text-nowrap uk-padding-remove-vertical">
                {% if run.input_run_id != "none" %}<i class="fas fa-level-up-alt fa-flip-horizontal"></i>{% endif %}
                &nbsp;{{ run.run_id }}
            </td>
            <td class="uk-table-shrink uk-text-nowrap uk-padding-remove-vertical">
                {% if run.input_run_id != "none" %}{{ run.input_run_id }}{% endif %}
            </td>
            <td class="uk-padding-remove-vertical">{{ run.dataset }}</td>
            <td class="uk-align-right uk-table-expand uk-margin-remove uk-padding-remove-vertical uk-padding-remove-right">
                {% if run.input_run_id == "none" %}
                <a class="uk-button uk-button-small uk-button-default run-evaluate-button"
                   data-tira-dataset="{{ run.dataset }}" data-tira-vm-id="{{ vm_id }}"
                   data-tira-run-id="{{ run.run_id }}">
                    <div id="run-evaluate-spinner-{{ run.run_id }}" class="run-evaluate-spinner" uk-spinner="ratio: 0.4"></div> evaluate</a>
                {% endif %}
                <a class="uk-button uk-button-small uk-button-default"
                   href="{% url 'tira:review' task_id=task_id vm_id=vm_id dataset_id=run.dataset run_id=run.run_id %}">inspect</a>
                <a class="uk-button uk-button-small uk-button-danger run-delete-button"
                   data-tira-dataset="{{ run.dataset }}" data-tira-vm-id="{{ vm_id }}"
                   data-tira-run-id="{{ run.run_id }}">delete</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</li>
