<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <link rel="icon" href="{% static 'tira/frontend-vuetify/favicon.ico' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TIRA Reproducible Experiments</title>
    <script type="module" crossorigin src="{% static 'tira/frontend-vuetify/entries/index.js' %}"></script>
    <link rel="stylesheet" href="{% static 'tira/frontend-vuetify/assets-public/index.css' %}">
</head>

<body>
    {% csrf_token %}
    <script id="user_metadata">var user_metadata = {"role": "{{role}}"}</script>
    <div id="app"></div>
    <script>
        setTimeout(function() {
            try {
                //this is intended to enable browser back/forth buttons
                register_app()
            } catch (Error) {}
        }, 50);
    </script>
</body>
</html>
