name: Documentation
on:
  push:
    branches:
      - development

jobs:
  build-doc:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install UMLet
        run: |
          mkdir -p /usr/share/umlet
          cd /usr/share/umlet
          wget https://www.umlet.com/download/umlet_15_1/umlet-standalone-15.1.zip -O download.zip
          unzip download.zip
      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y python3-pip plantuml
          pip install sphinx furo myst-parser sphinx-design sphinxcontrib-plantuml sphinxcontrib-umlet sphinx-tabs
          pip install pandas pyterrier ir_datasets
          cd documentation
          # sphinx-apidoc -o . ../python-client/tira
          make doctest
          make html
          touch _build/html/.nojekyll
      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: documentation/_build/html
          target-folder: nightly
