name: Publish Artifacts

on: [push]

env:
  REGISTRY: ghcr.io

jobs:
  release-frontend:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
      - name: Install dependencies
        working-directory: ${{github.workspace}}/frontend
        run: yarn --frozen-lockfile
      - name: compile client
        working-directory: ${{github.workspace}}/frontend
        run: yarn build
      - name: package code
        working-directory:  ${{github.workspace}}/frontend/static
        run: zip -r ../../frontend-build.zip .
      - name: Release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: frontend-build.zip

  build-and-push:
    name: Push Docker image to GHCR
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - name: Log in to GHCR
        uses: docker/login-action@65b78e6e13532edd9afa3aa52ac7964289d1a9c1
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Publish PyPi Package
        id: meta-frontend
        if: startsWith(github.ref, 'refs/tags/')
        working-directory: ${{github.workspace}}/python-client
        run:
          sudo apt-get install -y openjdk-11-jdk
          pip3 install .[test,dev]
          export TWINE_NON_INTERACTIVE=True
          export TWINE_PASSWORD=${{ secrets.PYPI_API_KEY}}
          make build-pypi-package
      - name: Extract metadata (tags, labels) for Docker
        id: meta-frontend
        if: startsWith(github.ref, 'refs/tags/')
        uses: docker/metadata-action@9ec57ed1fcdbf14dcef7dfbe97b2010124a938b7
        with:
          images: ${{ env.REGISTRY }}/tira-io/tira-frontend
      - name: Publish tira-frontend image
        if: startsWith(github.ref, 'refs/tags/')
        uses: docker/build-push-action@f2a1d5e99d037542a71f64918e516c093c6f3fc4
        with:
          context: ${{ github.workspace }}/frontend
          file: ${{ github.workspace }}/frontend/Dockerfile.prod
          push: true
          tags: ${{ steps.meta-frontend.outputs.tags }}
          labels: ${{ steps.meta-frontend.outputs.labels }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta-backend
        if: startsWith(github.ref, 'refs/tags/')
        uses: docker/metadata-action@9ec57ed1fcdbf14dcef7dfbe97b2010124a938b7
        with:
          images: ${{ env.REGISTRY }}/tira-io/tira-backend
      - name: Publish tira-backend image
        if: startsWith(github.ref, 'refs/tags/')
        uses: docker/build-push-action@f2a1d5e99d037542a71f64918e516c093c6f3fc4
        with:
          context: ${{ github.workspace }}/
          file: ${{ github.workspace }}/application/Dockerfile.prod
          push: true
          tags: ${{ steps.meta-backend.outputs.tags }}
          labels: ${{ steps.meta-backend.outputs.labels }}
